
        <div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">
          <div class="card bg-info text-white card-body">
             <div class="d-flex justify-content-between">
                  <div>
                     Item Details
                  </div>
                  <div>
                    <a href="">Home TODO</a>
                  </div>
             </div>

          </div>
            <div class="table table-responsive">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{{ item.item_image.url }}" height="90">
                    </div>

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <span>{{ item.item_name }}  </span>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>

