    <div class="col-sm-6" style="border: 7px solid #4dbec6;padding: 5px;border-radius: 10px;">



          <div class="card bg-info text-white">
            <div class="card-body">Global items
                    <form class="form-inline" action="">
            <input class="form-control mr-sm-4" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
            </form>

            </div>


          </div>




          <div class="alert alert-success">
               <span>Total Items : 12</span>
               <span>  Total Value : Rs: 149215</span>

          </div>

        <table>
            {% for c in all_cat %}
            <tr>
                <th>Category: {{ c.category_name }} {{ c.id }} </th>
            </tr>
            {% endfor %}
        </table>





      <hr class="d-sm-none">
    </div>
