 <style>
.card-body {
padding:1rem;
}
li {

    display: inline;
    margin: 0 2px;

}
 </style>

    <div class="col-sm-6" style="border: 7px solid #4dbec6;padding: 5px;border-radius: 10px;">



          <!--<div class="card bg-info text-white">-->
            <!--<div class="card-body" style="height:45px;">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-4">-->
                        <!--Global items-->

                    <!--</div>-->
                    <!--<div class="col-sm-8">-->

                        <!--<form class="form-inline" action="">-->
                            <!--<input  type="text" placeholder="Search">-->
                            <!--<button class="btn btn-success" type="submit">Search</button>-->

                        <!--</form>-->

                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->


          <!--</div>-->

<script>
$(document).ready(function(){
    $('.Count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 2000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});
});
</script>
          <div class="card bg-info text-white card-body" style="padding:5px;">
             <div class="d-flex justify-content-between">
                  <div class="" style="font-size: 24px;font-family: it;">
                     Global Items
                  </div>
                  <div>
                    <a href="/udb_home" class="home"><i class="fas fa-home"></i></a>
                  </div>
             </div>

          </div>


          <div class="alert alert-success" style="background-color:#594d81; color:white;">
              <span>Global Items : <b class="Count">{{ total_items }}</b></span>,
              <span>  Total Value : Rs: <b class="Count">{{ item_price.price__sum }}</b>/-</span>

          </div>

        <!--<table>-->
            <!--{% for c in all_cat %}-->
            <!--<tr>-->
                <!--<th>Category: {{ c.category_name }} {{ c.id }} </th>-->
            <!--</tr>-->
            <!--{% endfor %}-->
        <!--</table>-->

        <ul class="nav nav-pills" style="justify-content: center;">
            {% for c in all_cat %}

            <li style="">
                <div class="well">
                    <div class="card" style="max-width:182 !important; padding-top:10px;">
                        <a href="{% url 'categoriesapp:udb_cat_details' c.id %}">


                        <img style="margin:auto; height:80; width:80;" class="card-img-top hoverable shake-img" width="80" height="80" src="{{ c.image.url }}" title="{{ c.category_name }}">
                        <div class="card-body">
                            <h6 class="card-title" style="font-family:ubuntu;">{{ c.category_name }}</h6>
                            <p class="card-text">
                                <button type="button" class="btn btn-info btn-sm">
                                Total Items: {{ c.items_set.all|length}}
                                </button></p>

                        </div>
                        </a>

                    </div>


                </div>
            </li>

            {% endfor %}

        </ul>





      <hr class="d-sm-none">
    </div>
