    <div class="col-sm-6" style="border: 7px solid #4dbec6;padding: 5px;border-radius: 10px;">



          <div class="card bg-info text-white">
            <div class="card-body">Global items
                    <form class="form-inline" action="">
            <input class="form-control mr-sm-4" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
            </form>

            </div>


          </div>




          <div class="alert alert-success">
               <span>Total Items : 12</span>
               <span>  Total Value : Rs: 149215</span>

          </div>

      <div class="card-deck">
          <a href='/cat_details'>Category details...</a>
        <div class="card bg-primary">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>


        <div class="card bg-danger">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
      </div>
      <br>
      <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>


        <div class="card bg-danger">
          <div class="card-body text-center">
                <img class="card-img-top" src="http://www.barterkings.in/media/images/books_MCL8mpD.JPG" alt="Card image" style="width:100%">
                    <hr >
                  <h6 class="card-title">ITEMS: 6</h6>
                  <h6 class="card-title">FREE ITEMS: 16</h6>
            </div>
        </div>
      </div>

      <hr class="d-sm-none">
    </div>
