    <div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">

          <div class="card bg-info text-white">
            <div class="card-body">User Items</div>
          </div>

        <table class="table">
            <tr>
                <th>Slno </th>
                <th>Itemcode </th>
                <th>Item name </th>
                <th>Category </th>
                <th>Price </th>
                <th>Exchange with </th>
                <th>Location </th>
            </tr>

            {% for it in myitems %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ it.id }}</td>
                <td>{{ it.item_name }}</td>
                <td>{{ it.category.category_name }}</td>
                <td>{{ it.price }}</td>
                <td>{{ it.exchange_category.category_name }}</td>
                <td>{{ it.location }}</td>
            </tr>


            {% endfor %}

        </table>

            <button type="button" class="btn btn-success">+ Add Items</button>
    </div>