

        <div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">
          <div class="card bg-info text-white card-body">
             <div class="d-flex justify-content-between">
                  <div>
                     Change password
                  </div>
                  <div>
                      <a href="/udb_righthome/" class="home"><i class="fas fa-home"></i></a>
                  </div>
             </div>

          </div>

            <div class="card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-responsive">
                        <tr> {{ change_form.as_table }} </tr>
                    </table>

                    <div class="card card-body">
                        <input type="submit" name="submit" value="Submit">
                    </div>

                </form>


            </div>
        </div>

