

        <div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">

          <div class="card bg-info text-white card-body">
             <div class="d-flex justify-content-between">
                  <div>
                     Notifications
                  </div>
                  <div>
                    <a href="/udb_righthome/">Home</a>
                  </div>
             </div>

          </div>





          <table class="table">
              <tr>
                  <th colspan="5">Following users requested for exchange items </th>
              </tr>
              <tr>
                  <th>Exchange details</th>
                  <th>Location</th>
                  <th>Price</th>
                  <th>User</th>
              </tr>

              {% for rit in all_user_items %}

              {% for r in rit.req_citems.all  %}
              <tr>
                  <td>
                      <div class="row">
                          <div class="col-sm-5">
                              <img src="{{ r.citem.item_image }}" style="max-height:70px; min-height:70px;"><br>

                                <!--{{ r.citem.item_name }} <i class="fas fa-exchange-alt"></i>-->
                          </div>
                          <div class="col-sm-2">
                              <i class="fas fa-exchange-alt"></i>
                          </div>

                          <div class="col-sm-5">

                            <img src="{{ r.myitem.item_image }}" style="max-height:70px; min-height:70px;"><br>
                            <!--{{ r.myitem.item_name }}-->
                          </div>

                      </div>




                  </td>
                  <td>{{ r.myitem.location }}</td>
                  <td>{{ r.myitem.price }}</td>
                  <td>{{ r.myitem.itemuser  }} </td>
              </tr>
              {% endfor %}

              {% endfor %}


          </table>
        </div>

