<style>

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown {
    float: left;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.badge-light{
color: #fff;
background-color: #8f2e14;
}
nav .nav-link:hover {

    color: #fff;

}
.navbar-dark .navbar-nav .nav-link {

    color: #fff;

}
</style>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color:#17a2b8 !important;">
  <a class="navbar-brand" href="/udb_home/">Home </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav navbar-right" >
      <li class="nav-item">
        <a class="nav-link" href="/udb_whishlist">Wish list
                {% if request.user.is_active %}

                  <span class="badge badge-light" >{{ wlist|length }}</span>
                {% endif %}

        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/udb_notifications">Notifications
      {% if request.user.is_active %}
          <span class="badge badge-light">

            {{ req_items }}
      {% endif %}
        </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/udb_aboutus/">AboutUs</a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/udb_help/">Help</a>
      </li>

      {% if request.user.is_active %}
      <li class="nav-item dropdown"  style="float:right;">
        <a href="" class="nav-link">{{ request.user }}
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/udb_myprofile">My Account Details</a>
          <a href="/admin/bugsreport/bugs/ ">Bug Details</a>
          <a href="/udb_change_pwd/">Change Password</a>
          <a href="/logout/">Logout</a>
        </div>

      </li>
      {% endif %}




    </ul>
  </div>
</nav>
