{% load staticfiles %}
{% load static %}





<script>
    $(document).ready(function() {
        $("#myTable").tablesorter();
        $("#myTable_own").tablesorter();
        var code = {};
        $("select[name='bnd'] > option").each(function() {
        if (code[this.text]) {
                $(this).remove();
        } else {
                code[this.text] = this.value;
        }
    });
  });
</script>


<script>
$(document).ready(function(){
    $('#id_itemuser option[value="{{request.user.id}}"]').attr("selected", "selected");
    $('#id_itemuser').hide()

    $("#id_category option[value=0]").hide();
    $('#id_category').on('change', function() {
         $("#id_bnd option").remove();
         var href_link = '/addcatbrandlink/'+this.value+'/';
         $("#link").attr('href',href_link);
        {% for i in cat_brd %}
            if({{i.cat_nam.id}} == this.value){
                $("#id_bnd").append('<option value="{{i.bnd_name.id}}">{{i.bnd_name}}</option>');
            }
        {%endfor%}
})
});
</script>


<!-- heading -->
<div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">
    <div class="card bg-info text-white card-body">
        <div class="d-flex justify-content-between">
              <div>
                     Add Item
              </div>
         <div>
            <a href="/udb_righthome/" class="home"><i class="fas fa-home"></i></a>
         </div>
    </div>
</div>


<!-- style -->

	<div class="container">
			<div class="main">
				<div class="main-center">

 <form class="form" action="{% url 'homeapp:udb_addmyitems' %}" method="POST" enctype="multipart/form-data">


                           {% csrf_token %}


                           {% for i in additemform %}
	<div class="form-group">
							<label for="name">   {{i.label}}</label>
								<div class="input-group">
                           {%if i.label == 'Itemuser'%} <input type=text disabled='True' value="{{request.user}}"> {%endif %}{{i}}<br>
{% if i.label == "Bnd" %}<!--<a id="link" href=""> Add </a>-->{%endif%}
                           	</div>
						</div>
                           {%endfor %}



 <input type=submit>




 </form>


  </div>
</div>
</div>

<style>
    .main{
 	padding: 40px 0;
}
.main input,
.main input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}
.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#17a2b8;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}
</style>



