

        <div class="col-sm-6" style="border: 7px solid #4dbec6; padding: 5px;border-radius: 10px;">

          <div class="card bg-info text-white card-body">
             <div class="d-flex justify-content-between">
                  <div>
                     Notifications
                  </div>
                  <div>
                    <a href="/udb_righthome/">Home</a>
                  </div>
             </div>

          </div>





          <table class="table">
              <tr>
                  <th colspan="5">Following users showed intrest in these items </th>
              </tr>
              <tr>
                  <th>Userid </th>
                  <th>Username</th>
                  <th>Contact Number</th>
                  <th>Item code</th>
                  <th>Item Name</th>
              </tr>
              <tr>
                  <td>123</td>
                  <td>YSK</td>
                  <td>9533396484</td>
                  <td>1234</td>
                  <td>Computer</td>
              </tr>


          </table>
        </div>

