{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>


</head>

<body bgcolor="#A6FF57">
    <b> <font size="6">BarterKings</font> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
		  <font size="4"> <img  src="{% static 'admin/img/home.jpg' %}" width="25" height="20" alt="" title="" /><a href="www.google.com" target="_blank">Home</a> &nbsp &nbsp &nbsp &nbsp
		  <img   src="{% static 'admin/img/About.jpg' %}"" width="25" height="20" alt="" title="" /><a href="www.google.com" target="_blank">About Us</a> &nbsp &nbsp &nbsp &nbsp
		  <img   src="{% static 'admin/img/contact.jpg' %}" width="25" height="20" alt="" title="" /> <a href="www.google.com" target="_blank">Contact Us</a> &nbsp &nbsp &nbsp &nbsp
		  <img src="{% static 'admin/img/git.jpg' %}" width="25" height="20" alt="" title="" /> <a href="www.google.com" target="_blank">Github</a> &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp&nbsp &nbsp &nbsp &nbsp
		  <img   src="{% static 'admin/img/login.jpg' %}" width="25" height="20" alt="" title="" /> <a href="/login" >LogIn</a>&nbsp &nbsp &nbsp &nbsp
		  <img  src="{% static 'admin/img/signup.jpg' %}" width="25" height="20" alt="" title="" /> <a href="/signup" >Signup</a></font></b>

    <div align="center" style="background-color: #E4FFBF;"> about us
  </div>
   <div style="background-color: #A6FF57;" align="center">

    <b>  <a href="/privacy" target="_blank">Terms of Service </a> <br><a class="faa-parent animated-hover">
    	              Your IP Address: <i class="fa fa-fw fa-lg fa-map-marker faa-tada faa-fast"></i>{{ localip }}
                    </a><br>
© 2018 - Designed by redsuncube. All rights reserved (Ravi Gandham)</div></b>

</body>

</html>