{% extends "base1.html" %}
{% block content %}

A company paragraph is a short description of the company found on a wide variety of promotional materials, including pamphlets, digital media and sponsorship recognition. Writing a short but engaging paragraph, otherwise known as a "blurb," helps the public understand key points about a company, as to what it does and who it serves.

Key Company Focus
Although the company blurb needs to inform readers about what the company does, it needs to do this in a very focused way. Most companies offer many different types of products or services. The blurb is not the place to describe them all. Instead of listing the variety of things your company does, focus on the key items as an overview. For example, a local vegetable distributor might define the company focus like this: "Getting organic, locally grown vegetables to restaurants within 24 hours of harvest."

Explain the Company's Reason Why
There is a reason why companies are started. Reasons usually go well beyond the knowledge that a particular product or service is marketable. This is part of the company vision and it explains why the business does things in a unique way. For example, a company selling ergonomic baby bottle nipples might have been established because the founder felt that mothers who were unable to breastfeed needed bottle alternatives that better mimic a mother's breast.

The reason "why" often lends credibility to the story because when someone has a strong underlying reason for doing something, they're more likely to take the time and energy to do it right.

Tell a Story
The blurb isn't a scholarly excerpt. A company paragraph that tells a story will engage the reader. Good storytelling builds positive brand awareness and makes the company memorable to consumers. Ideally, readers then begin to look at other information about products and services. For example, an organic coffee brand might talk about the origins of the beans, "Sustainable farming methods in the fertile high-altitude regions of Chile...." The messaging goal aims to hit the emotional triggers such as earth consciousness and global warming.

Provide a Benefit
As good as a story is at hitting the reasons why the company is great, consumers need to know: "What's in it for me?" The blurb should focus on one or two key benefits. Let consumers know what they get when they do business with the company. Examples of benefits might be convenience, superior products, award-winning services or customization for the customer's needs. For example, a promotional product provider might express the benefit like this: "Be remembered in a way as unique as your company."

Search Engine Needs
If your blurb will be online, make sure it is search engine optimized -- SEO -- with keywords. Keywords and phrases are the most common words and phrases that your target audience will use to search for information. Include the most popular SEO phrases to help improve search rank when consumers search for something via Google or Bing.
{% endblock %}