{% extends 'base1.html' %}
{% block content %}


<div class="container-fluid column-starter">
    <!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <script>
                        $(document).ready(function() {
                            $("#myTable").tablesorter();

                            $("#myTable_own").tablesorter();

                            var code = {};
                            $("select[name='bnd'] > option").each(function() {
                                if (code[this.text]) {
                                    $(this).remove();
                                } else {
                                    code[this.text] = this.value;
                                }
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {

                            $("#link").click(function() {
                                var href = $('#link').attr('href');
                                var min = $('#min').val();
                                var max = $('#max').val();
                                //alert(min);
                                //alert(max);
                                //alert(href);
                                //alert("i am ihere");//Do stuff when clicked
                                final_link = href + min + "/" + max
                                    //alert(final_link);
                                $("#link").attr('href', final_link)
                            });
                        });
                    </script>
                    <!-- style-->

                    <!-- code-->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <div style=" background-color: #fff;" class="row">
                        <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">

                            <div style=" background-color: #ffff; min-height:641px;" class="sales">
                                <div style=" background-color: #1b3154;" class="row">

                                    <h4><b><center><font color="white">Global wish list items</font></center></b></h4></div>


                                <center>
                                    <table border=1 id="myTable" class="tablesorter" width="100%">
                                        <thead>
                                            <tr height=4 0px; font-weight: bold;>

                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Wish list <br>Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>

                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Categories</span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Name</span></th>

                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">full descript</th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">user</th>
                                                         <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">other</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            {% for useritems in global_wishlist %}

                                                <tr>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><a href = "{% url 'view_item' useritems.id %}">{{ useritems.id }}</a></span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.wishlist_category }}

                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.wishlist_name }}</span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.wishlist_full_desc }}</span></td>
                                                   <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.wishlist_user }}</span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.wishlist_other_info }}</span></td>


                                                </tr>

                                                {% endfor %}</tbody>
                                    </table>

                                </center>
                                <br>
                                <hr>
                            </div>
                        </div>

                        <div style=" background-color: #fff;" class="row">

                            <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">
                                <div style=" background-color: #fff; min-height:641px;" class="sales report">
                                    <div style=" background-color: #1b3154;" class="row">

                                        <h4><font color="white"><b><center>Add wish list</center></b></font></h4></div>
                                    <center>

                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <table>


                                            {% for i in form %}
                                            <tr><th>
                                            {{i.label}}</th><td> {{i}}</td></tr>

                                            {% endfor %}
                                             </table>
                                            <input type=submit>

                                        </form>

                                    </center>

                                    <script>
                                        function popupCenter(url, title, w, h) {
                                            var left = (screen.width / 2) - (w / 2);
                                            var top = (screen.height / 2) - (h / 2);
                                            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                                        }
                                    </script>


                                </div>

                                . </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--   </div> -->

    </div>

</div>

</div>

</div>
</div>
<!-- global view -->
{% if items_cat %} {% for useritems in items_cat %}
<style>
#{{ useritems.id }
}
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#{{ useritems.id }
}
:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 125px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
</style>

{% endfor %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close"><font color="white">X</font></span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>

</div>

{% for useritems in items_cat %}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('{{ useritems.id }}');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

{% endfor %} {% endif %}

<!-- end code -->
<!-- code -->

{% for useritems in items %}
<style>
#{{ useritems.id }
}
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#{{ useritems.id }
}
:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 125px;
    right: 35px;

    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {

    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
</style>

{% endfor %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close"><font color="white">X</font></span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>

</div>

{% for useritems in items %}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('{{ useritems.id }}');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

{% endfor %}

<!-- end code -->
{% endblock %}