<!-- django load files -->
{% load staticfiles %}
{% load static %}

<!-- link file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dash_boot.css' %}" />

<!-- script file -->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js "></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>

<!-- image preview option -->
<script type="text/javascript" src="{% static 'admin/js/fileinput.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/_fileinput.scss' %}" />



<style>
</style>





<!------ Include the above in your HEAD tag ---------->
<style>






    input, button, select, textarea{ width:110px;}
   img {max-height:130px;}
    .panel {
        border-radius: 0px;
    }
    #id_item_full_desc, #id_other_info{width:330px;}

    body {
        background: #e8edfc;
    }

    .panel {
        border-radius: 0px;
    }

    a:hover {
        text-decoration: none;
        color: #f7a01d;
    }
    /************ Margin ************/

    .margin-t-20 {
        margin-top: 20px;
    }

    .margin-t-30 {
        margin-top: 30px;
    }

    .margin-t-40 {
        margin-top: 40px;
    }

    .margin-t-50 {
        margin-top: 50px;
    }

    .margin-t-60 {
        margin-top: 60px;
    }

    .margin-t-70 {
        margin-top: 70px;
    }

    .margin-t-80 {
        margin-top: 80px;
    }

    .margin-t-90 {
        margin-top: 90px;
    }

    .margin-b-0 {
        margin-bottom: 0px!important;
    }
    /************** Background ***************/

    .bg-blue {
        background: #0e1651;
        color: #fff!important;
    }
    /************* Icon ***********/

    i {
        padding-right: 15px;
    }
    /************** Sidebar ***************/

    .card {
        background: #ffffff;
        border: 1px solid #e2e2e2;
        shadow: 2px 2px 2px #e2e2e2;
        margin-bottom: 20px;
    }

    .card-body {
        padding: 15px;
    }
    /************** NAVIGATION ***************/
    /*--------------------------------------
 Sets the actionable area for the gaadiexp
 including a label for usability
--------------------------------------*/

    .gaadiexp,
    .gaadiexp:after,
    .gaadiexp *,
    .gaadiexp *:before,
    .gaadiexp *:after,
    .header-nav *,
    .header-nav *:before,
    .header-nav *:after {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .gaadiexp {
        cursor: pointer;
        height: 60px;
        margin-bottom: 0;
        width: 60px;
        z-index: 9001;
        left: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: #f7a01d;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    }

    .gaadiexp:after {
        bottom: 7px;
        color: #FFFFFF;
        content: 'Menu';
        font-size: 13px;
        font-weight: 300;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    /*--------------------------------------
 Creates the look of the gaadiexp icon
 using the inner span and pseudo-elements
--------------------------------------*/

    .gaadiexp span,
    .gaadiexp span:before,
    .gaadiexp span:after {
        background: #FFFFFF;
        border-radius: 0px;
        height: 4px;
        left: 10px;
        position: absolute;
        top: 22px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: 40px;
    }
    /* Reset the left and create the pseudo-element */

    .gaadiexp span:before,
    .gaadiexp span:after {
        content: '';
        left: 0;
    }
    /* Top bar position */

    .gaadiexp span:before {
        top: -8px;
    }
    /* Bottom bar position */

    .gaadiexp span:after {
        top: 8px;
    }
    /* Get rid of more on action (IE9 or higher) */

    .gaadiexp-check:checked + .gaadiexp:after {
        content: '';
    }
    /* Get rid of the middle bar on action (IE9 or higher) */

    .gaadiexp-check:checked + .gaadiexp span {
        height: 0;
        width: 0;
    }
    /* Moves the top and bottom bars to the middle on action (IE9 or higher) */

    .gaadiexp-check:checked + .gaadiexp span:before,
    .gaadiexp-check:checked + .gaadiexp span:after {
        top: 6px;
    }
    /* Rotates the top bar on action with full browser support (IE9 or higher) */

    .gaadiexp-check:checked + .gaadiexp span:before {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
    }
    /* Rotates the bottom bar on action with full browser support (IE9 or higher) */

    .gaadiexp-check:checked + .gaadiexp span:after {
        -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(-225deg);
    }

    #mobile-nav:focus + .gaadiexp,
    .gaadiexp:focus,
    .gaadiexp:hover {
        background: #f7a01d;
    }

    .gaadiexp-check:checked + .gaadiexp {
        width: 200px;
    }

    .gaadiexp-check:checked + .gaadiexp:after {
        bottom: 18px;
        content: 'Close Menu';
        font-size: 20px;
        padding-left: 30px;
    }

    #mobile-nav {
        left: -9999px;
        position: fixed;
        top: 0;
    }

    .header-nav ul li a:active,
    .header-nav ul li a:focus,
    .header-nav ul li a:hover,
    #mobile-nav:focus + .gaadiexp,
    .gaadiexp:focus,
    .gaadiexp:hover {
        background: #e2e2e2;
        outline: none;
    }

    .fixed-nav {
        background: #f7a01d;
        height: 60px;
        position: fixed;
        width: 100%;
        z-index: 9000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }

    .fixed-nav a {
        color: #fff;
    }

    .header-nav {
        float: left;
        height: 60px;
        position: relative;
        width: 100%;
    }

    .header-nav ul {
        background: #fff;
        height: calc(100vh - 60px);
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 10px 0 0 0;
        position: absolute;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
        width: 200px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
        top: 100%;
        z-index: 1;
    }

    .gaadiexp-check:checked ~ .header-nav ul {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .header-nav ul li {
        float: left;
        position: relative;
        width: 100%;
    }

    .header-nav ul li a {
        color: rgba(0, 0, 0, 0.79);
        display: block;
        float: left;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.75px;
        line-height: 24px;
        margin-left: 0;
        overflow: hidden;
        /*padding: 12px 60px 12px 12px;*/
        position: relative;
        text-decoration: none;
        width: 100%;
    }

    .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .list-group-item {
        background-color: #ffffff;
        border: 1px solid #efefef;
    }
</style>

<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <a class="navbar-brand " style="margin-left:60px" ><font size=5>Barterkings</font></a>
        <a class="navbar-brand " style="margin-left:60px" href="/myuserdashboard"><i class="fas fa-home"> Home</i></a>
        <a class="navbar-brand " style="margin-left:60px" href="/wishlist"><i class="fas fa-heart"> Wishlist</i></a>

        <a class="navbar-brand " style="margin-left:60px" href="#"><i class="fas fa-bell"> Notifications</i></a>
<br><br><br>
          <a> <marquee><font size=3 color =black >Users and Items are Adding at a good pace [ Total users: {{ u }} Total Items : {% if global_items_count %}{{global_items_count}}{%else%}{{useritemscount_cat}}{%endif%} and Total Free Items : {{ fc }} ] </marquee></font> </a>



        <div class="menu">
            <ul>
                <li class="page_item page-item-2">
                    <a href="/wishlist" class="list-group-item"><i class="fa fa-heart" aria-hidden="true"> Wishlist</i> </a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/dash_help" class="list-group-item"><i class="fas fa-info"> Help/Info</i></a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/users/{{request.user.id}}/edit/" class="list-group-item"><i class="fas fa-user"> Edit Profile</i></a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/change_password" class="list-group-item "><i class="fas fa-key"> Change password</i></a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/aboutus" class="list-group-item "><i class="fas fa-key"> About Us</i></a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/privacy" class="list-group-item "><i class="fas fa-key"> Terms of Service</i></a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/logout" class="list-group-item "><i class="fas fa-sign-out-alt"> Logout</i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid top-heading bg-blue">
    <div class="container ">
        <div class="margin-t-60"></div>
        <div class="row">

        </div>
    </div>
</div>
{% block content %}



{% endblock %}




<!-- footer -->

<div class="container-fluid top-heading bg-blue">
    <div class="container ">

        <div class="row">
            <div class="col-md-12 ">
                <center>
                    <h4>
    <b>   <br> vistor count:
                    <!-- hitwebcounter Code START -->

<img src='https://www.counter12.com/img-x0Z5z8xDDZZcwDzz-36.gif' border='0' alt='counter'>
<br>Your IP address :  {{ localip }}
                    <br>
© 2018 - Designed by redsuncube. All rights reserved (Ravi Gandham)</h4>
                </center>
            </div>
        </div>
    </div>
</div>
