{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <title></title>


</head>



<body bgcolor="#5BFF92">
    <b>
        <font size="5">BarterKings</font> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
		<font size="4"> <i class="fa fa-home"></i><a href="/myuserdashboard">Home</a> &nbsp &nbsp &nbsp &nbsp
		  <i class="fa fa-id-badge"></i><a href="/aboutus">About Us</a> &nbsp &nbsp &nbsp &nbsp
		  <i class="fa fa-map-marker"></i><a href="/contactus">Contact Us</a> &nbsp &nbsp &nbsp &nbsp
		  <i class="fa fa-map-marker"></i><a href="/feedback">Feedback</a> </b>

            <div style="background-color: #E4FFBF;">
{% block content %}
{% endblock %}



<br>
<div style="background-color: #5BFF92;" align="center">

    <b>  <a href="/privacy" target="_blank">Terms of Service </a> <br><a class="faa-parent animated-hover">
    	              Your IP Address: <i class="fa fa-fw fa-lg fa-map-marker faa-tada faa-fast"></i>{{ localip }}
                    </a>|| vistor count:
                    <!-- hitwebcounter Code START -->

<img src='https://www.counter12.com/img-x0Z5z8xDDZZcwDzz-36.gif' border='0' alt='counter'>

                    <br>
© 2018 - Designed by redsuncube. All rights reserved (Ravi Gandham)</div></b>

</body>

</html>