<table width="100%" border="2" cellpadding="2" cellspacing="2" style="border-color: #8080FF">
                    <tr valign="top">
                        <td style="border-width : 0px;">
                            <h6><b>This page facilitates the user to add their items which he/she want to exchange with other interested items in our portal which consists of other users products/items.</div></b></h6>
                            <h5> <ol>
                    <li>  Click on the Add Items button and provide your complete item details and click on the save button.
                    </li>
                    <li>  Once it is uploaded this will be visible to the global users and facilitates to exchange the Items by having the one to one conversations with the item owners.</li>
                    <li>  Click on the category with which you want to exchange your Item.
                    </li>
                    <li>  Select your item/product from our global list of items, this portal facilitate to help you in selecting your exchangeable item by providing the relevant information.
                    </li>
                    <li>  Contact the product/item owner, the details will be provided in the item description window, reach him/her by phone and negotiate.
                    </li>
                </ol>  </h5>
                        </td>
                    </tr>
                </table>