{% extends 'base.html' %}
{% block content %}



<div class="container-fluid column-starter">
	<!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
	<div class="row">
	    <div class="col-md-3 sidebar">
	        <div class="panel">
    	       <div class="panel-body ">
                <div class="sidebar-nav">
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="/login" class="" aria-expanded="true">Login <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="/signup" data-toggle="collapse" href="#sidemenu2" id="preview" class="" aria-expanded="true">Signup <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>

                </div>


    	        </div>

	        </div>
	    </div>
	    <div class="col-md-9">
	        <div class="panel">
	       <div class="panel-body">

<h3><b>Forgot your passoword ?</b></h3>

{% if error %}
<font color=red><i>! please check the username and try again.</i></font>
{% endif %}
<br>
Barterkings will send OTP to the email address which is used at the time of registration w.r.t to Barterkings username.
<br>
<br>
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Enter valid username</td>
            <th> <input type=text name="name"></th>
        </tr>
        <tr>
            <td></td>
            <td><br><input type=submit value="send"></td>
        </tr>
    </table>


</form>





	        </div>

	        </div>

	    </div>

	</div>
</div>


{% endblock %}


