{% load static %}

	<!-- HEADER -->
	<header>
		<!-- top Header -->
		<!--<div id="top-header">-->
			<!--<div class="container">-->
				<!--<div class="pull-left">-->
					<!--<span>Welcome to My-shop!</span>-->
				<!--</div>-->
				<!--<div class="pull-right">-->
					<!--<ul class="header-top-links">-->
						<!--<li><a href="#">Store</a></li>-->
						<!--<li><a href="#">Newsletter</a></li>-->
						<!--<li><a href="#">FAQ</a></li>-->
						<!--<li class="dropdown default-dropdown">-->
							<!--<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>-->
							<!--<ul class="custom-menu">-->
								<!--<li><a href="#">English (ENG)</a></li>-->
								<!--<li><a href="#">Russian (Ru)</a></li>-->
								<!--<li><a href="#">French (FR)</a></li>-->
								<!--<li><a href="#">Spanish (Es)</a></li>-->
							<!--</ul>-->
						<!--</li>-->
						<!--<li class="dropdown default-dropdown">-->
							<!--<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>-->
							<!--<ul class="custom-menu">-->
								<!--<li><a href="#">USD ($)</a></li>-->
								<!--<li><a href="#">EUR (€)</a></li>-->
							<!--</ul>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!-- /top Header



		<!-- header -->
		<div id="header">
			<div class="container">
				<div class="pull-left">
					<!-- Logo -->
					<div class="header-logo">
						<a class="logo" href="#">
							<!--<img src="./img/logo.png" alt="">-->
							<h2>[---LOGO---]</h2>
						</a>
					</div>
					<!-- /Logo -->

					<!-- Search -->
					<!--<div class="header-search">-->
						<!--&lt;!&ndash;<form>&ndash;&gt;-->
							<!--&lt;!&ndash;<input class="input search-input" type="text" placeholder="Enter your keyword">&ndash;&gt;-->
							<!--&lt;!&ndash;<select class="input search-categories">&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="0">All Categories</option>&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="1">Category 01</option>&ndash;&gt;-->
								<!--&lt;!&ndash;<option value="1">Category 02</option>&ndash;&gt;-->
							<!--&lt;!&ndash;</select>&ndash;&gt;-->
							<!--&lt;!&ndash;<button class="search-btn"><i class="fa fa-search"></i></button>&ndash;&gt;-->
						<!--&lt;!&ndash;</form>&ndash;&gt;-->
					<!--</div>-->
					<!-- /Search -->
					<div class="header-search">
						<div class="" style="text-align:center; padding-left:24px; " >
							<h3 >
                                <font color="#2db053" style="font-family:Josefin Slab;"><b class="stheader">WELCOME TO BARTERKINGS</b></font>
							</h3>
							<h4> <font color="#2a2b75">(Exchange the world)</font> </h4>
						</div>

					</div>
				</div>
				<div class="pull-right">
					<ul class="header-btns">
						<!-- Account -->
						<li class="header-account dropdown default-dropdown">
							<div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
								<div class="header-btns-icon">
									<i class="fa fa-user-o"></i>
								</div>
								<strong class="text-uppercase">RAVI Gandharam <i class="fa fa-caret-down"></i></strong>
							</div>
							<!--<a href="#" class="text-uppercase">Login</a> / <a href="#" class="text-uppercase">Join</a>-->
							<ul class="custom-menu">
								<li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i> My Wishlist</a></li>
								<!--<li><a href="#"><i class="fa fa-exchange"></i> Compare</a></li>-->
								<!--<li><a href="#"><i class="fa fa-check"></i> Checkout</a></li>-->
								<!--<li><a href="#"><i class="fa fa-unlock-alt"></i> Login</a></li>-->
								<!--<li><a href="#"><i class="fa fa-user-plus"></i> Create An Account</a></li>-->
							</ul>
						</li>
						<!-- /Account -->

						<!-- Cart -->
						<!--<li class="header-cart dropdown default-dropdown">-->
							<!--<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">-->
								<!--<div class="header-btns-icon">-->
									<!--<i class="fa fa-shopping-cart"></i>-->
									<!--<span class="qty">3</span>-->
								<!--</div>-->
								<!--<strong class="text-uppercase">My Cart:</strong>-->
								<!--<br>-->
								<!--<span>35.20$</span>-->
							<!--</a>-->
							<!--<div class="custom-menu">-->
								<!--<div id="shopping-cart">-->
									<!--<div class="shopping-cart-list">-->
										<!--<div class="product product-widget">-->
											<!--<div class="product-thumb">-->
												<!--<img src="./img/thumb-product01.jpg" alt="">-->
											<!--</div>-->
											<!--<div class="product-body">-->
												<!--<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>-->
												<!--<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>-->
											<!--</div>-->
											<!--<button class="cancel-btn"><i class="fa fa-trash"></i></button>-->
										<!--</div>-->
										<!--<div class="product product-widget">-->
											<!--<div class="product-thumb">-->
												<!--<img src="{% static 'shopstatic/img/thumb-product01.jpg' %}" alt="">-->
											<!--</div>-->
											<!--<div class="product-body">-->
												<!--<h3 class="product-price">$32.50 <span class="qty">x3</span></h3>-->
												<!--<h2 class="product-name"><a href="#">Product Name Goes Here</a></h2>-->
											<!--</div>-->
											<!--<button class="cancel-btn"><i class="fa fa-trash"></i></button>-->
										<!--</div>-->
									<!--</div>-->
									<!--<div class="shopping-cart-btns">-->
										<!--<button class="main-btn">View Cart</button>-->
										<!--<button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</li>-->
						<!-- /Cart -->

						<!-- Mobile nav toggle-->
						<li class="nav-toggle">
							<button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
						</li>
						<!-- / Mobile nav toggle -->
					</ul>
				</div>
			</div>
			<!-- header -->
		</div>
		<!-- container -->
	</header>
	<!-- /HEADER -->
