{% extends "base1.html" %}
{% block content %}
{% load staticfiles %}

 <form  method="post">
                               {% csrf_token %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
  			<div id="iosBlurBg">
  				<div id="whiteBg"></div>
  			</div>
  			<div id="bottomEnter">Login</div>
  			<div id="bottomBlurBg"></div>
  			<!-- Login Form -->
  			<div class="loginForm">
  			       	<div class="title">
                    <img  height="100" width="150" src="{% static 'admin/img/logo.png' %}">
             		<p>Barter<br><span>Kings</span></p>
  			     	</div>


  					<div class="col-3">
			        	Username :<input required name="username" class="effect-2" type="text" placeholder="Login...">
			            <span class="focus-border"></span>

			            Password :<input required name="password" class="effect-2" type="password" placeholder="Password...">
			            <span class="focus-border"></span>
			        </div>

  				    <div class="enterButton">
  				        <br>
	  			        <button class="button2" type=submit>	<i class="fa fa-lock fa-2x text-white">Login</i></button><br>
	  		    	</div>

  			</div>
  			<style>
.button2 {background-color: #008CBA;} /* Blue */</style>
            <!--div class="forget">
		        <button class="btn btn-default btn-sm">FORGOT PASSWORD?</button>
			</div-->
		</div>
	</div>
</div>
</form>

{% endblock %}