{% load staticfiles %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    body {background:#e8edfc;}
.panel {border-radius:0px;}
a:hover {text-decoration:none;color:#f7a01d;}
/************ Margin ************/
.margin-t-20 {margin-top:20px;}
.margin-t-30 {margin-top:30px;}
.margin-t-40 {margin-top:40px;}
.margin-t-50 {margin-top:50px;}
.margin-t-60 {margin-top:60px;}
.margin-t-70 {margin-top:70px;}
.margin-t-80 {margin-top:80px;}
.margin-t-90 {margin-top:90px;}
.margin-b-0{margin-bottom: 0px!important;}
/************** Background ***************/
.bg-blue {background:#0e1651;color:#fff!important;}
/************* Icon ***********/
i {padding-right:15px;}
/************** Sidebar ***************/








.card {background:#ffffff;border:1px solid #e2e2e2; shadow:2px 2px 2px #e2e2e2;margin-bottom:20px;}
.card-body {padding:15px;}





/************** NAVIGATION ***************/
/*--------------------------------------
 Sets the actionable area for the gaadiexp
 including a label for usability
--------------------------------------*/
.gaadiexp,
.gaadiexp:after,
.gaadiexp *,
.gaadiexp *:before,
.gaadiexp *:after,
.header-nav *,
.header-nav *:before,
.header-nav *:after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.gaadiexp {
    cursor: pointer;
    height: 60px;
    margin-bottom: 0;
    width: 60px;
    z-index: 9001;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background: #f7a01d;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
}

.gaadiexp:after {
    bottom: 7px;
    color: #FFFFFF;
    content: 'Menu';
    font-size: 13px;
    font-weight: 300;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}


/*--------------------------------------
 Creates the look of the gaadiexp icon
 using the inner span and pseudo-elements
--------------------------------------*/

.gaadiexp span,
.gaadiexp span:before,
.gaadiexp span:after {
    background: #FFFFFF;
    border-radius: 0px;
    height: 4px;
    left: 10px;
    position: absolute;
    top: 22px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 40px;
}


/* Reset the left and create the pseudo-element */

.gaadiexp span:before,
.gaadiexp span:after {
    content: '';
    left: 0;
}


/* Top bar position */

.gaadiexp span:before {
    top: -8px;
}


/* Bottom bar position */

.gaadiexp span:after {
    top: 8px;
}


/* Get rid of more on action (IE9 or higher) */

.gaadiexp-check:checked + .gaadiexp:after {
    content: '';
}


/* Get rid of the middle bar on action (IE9 or higher) */

.gaadiexp-check:checked + .gaadiexp span {
    height: 0;
    width: 0;
}


/* Moves the top and bottom bars to the middle on action (IE9 or higher) */

.gaadiexp-check:checked + .gaadiexp span:before,
.gaadiexp-check:checked + .gaadiexp span:after {
    top: 6px;
}


/* Rotates the top bar on action with full browser support (IE9 or higher) */

.gaadiexp-check:checked + .gaadiexp span:before {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
}


/* Rotates the bottom bar on action with full browser support (IE9 or higher) */

.gaadiexp-check:checked + .gaadiexp span:after {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(-225deg);
}

#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: #f7a01d;
}

.gaadiexp-check:checked + .gaadiexp {
    width: 200px;
}

.gaadiexp-check:checked + .gaadiexp:after {
    bottom: 18px;
    content: 'Close Menu';
    font-size: 20px;
    padding-left: 30px;
}

#mobile-nav {
    left: -9999px;
    position: fixed;
    top: 0;
}

.header-nav ul li a:active,
.header-nav ul li a:focus,
.header-nav ul li a:hover,
#mobile-nav:focus + .gaadiexp,
.gaadiexp:focus,
.gaadiexp:hover {
    background: #e2e2e2;
    outline: none;

}

.fixed-nav {
    background: #f7a01d;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 9000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.fixed-nav a {color:#fff;}

.header-nav {
    float: left;
    height: 60px;
    position: relative;
    width: 100%;

}

.header-nav ul {
    background: #fff;

    height: calc(100vh - 60px);
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 10px 0 0 0;
    position: absolute;
    -webkit-transform: translateX(-110%);
    transform: translateX(-110%);
    -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
    width: 200px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.075);
    top: 100%;
    z-index: 1;
}

.gaadiexp-check:checked ~ .header-nav ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.header-nav ul li {
    float: left;
    position: relative;
    width: 100%;
}

.header-nav ul li a {
    color: rgba(0, 0, 0, 0.79);
    display: block;
    float: left;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.75px;
    line-height: 24px;
    margin-left: 0;
    overflow: hidden;
    /*padding: 12px 60px 12px 12px;*/
    position: relative;
    text-decoration: none;
    width: 100%;
}
.list-group-item:last-child {

    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.list-group-item {
    background-color: #ffffff;
    border: 1px solid #efefef;
}

</style>




<input type="checkbox" name="mobile-nav" id="mobile-nav" class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
    <div class="fixed-nav">
	<a class="navbar-brand " style="margin-left:60px" href="#"><font size=6>Barterkings</font></a>
        <div class="menu">
            <ul>
                <li class="page_item page-item-2">
                    <a href="/aboutus" class="list-group-item">About Us</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/contactus" class="list-group-item ">Contact Us</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/feedback" class="list-group-item ">Feed Backs</a>
                </li>
                <li class="page_item page-item-2">
                    <a href="/privacy" class="list-group-item ">Terms of Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid top-heading bg-blue">
    <div class="container ">
         <div class="margin-t-60"></div>
	    <div class="row">

	    </div>
	</div>
</div>


<div class="container-fluid column-starter">
	<!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
	<div class="row">
	    <div class="col-md-3 sidebar">
	        <div class="panel">
    	       <div class="panel-body ">
                <div class="sidebar-nav">
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#sidemenu1" class="" aria-expanded="true">Login <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>
                     <div id="sidemenu1" class="panel-collapse collapse in" aria-expanded="true" style="">
                         <div class="list-group">
                               <form  method="post">
                               {% csrf_token %}
                               <table><tr><th>Username</th><td><input required name="username" class="effect-2" type="text" placeholder="Login..."></td></tr>
                               <tr><th>Password</th><td><input required name="password" class="effect-2" type="password" placeholder="Password..."></td></tr>
                               </table> <br>
	  			               <button class="button2" type=submit>	<i class="fa fa-lock fa-2x text-white">Login</i></button> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp <button class="button2" type=submit>	<i class="fa fa-lock fa-2x text-white">Forgot Password</i></button>
                               </form>
                            </div>

                    </div>
                 </div>
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="/signup" data-toggle="collapse" href="#sidemenu2" id="preview" class="" aria-expanded="true">Signup <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>

                </div>


    	        </div>

	        </div>
	    </div>
	    <div class="col-md-9">
	        <div class="panel">
	       <div class="panel-body">
	           {% load staticfiles %}
	            <img src="{% static 'admin/img/logo.jpg' %}" width="190" height="135" alt="" title="" /> &nbsp &nbsp &nbsp <img src="{% static 'admin/img/barterprocess.jpg' %}" width="490" height="50" alt="" title="" />
	            <legend></legend>
	            <b><p>Barter is a system of exchange where goods or services are directly exchanged for other goods or services without using a medium of exchange, such as money, but our Portal is little hybreed where we can negotiate the exchange with money too.<br>
				BarterKings.in Portal provides the platform to exchange our unused or Idle products/Items with the products with likeminded users.<br>
				The concept of BarterKings portal came into existences by the group of IT gurus who have some valued items which are not
				in use by them anymore and also they can't able to throw away as they are valued. Here the Idea has born to exchange their products with the
				similar mindset people who wants to exchange their products.<br>
				BarterKings.in portal facilitates the user to Add their items/products in the portal with relevant product information and also facilitates them in searching
				their interested products from the global products which has added by the global users.<br>
			 	Barterkings.in portal is built on the concept of serving the users with no expectation of profits out of the items/products exchange and the portal will not be
				involving in any financial dealings with the users.<br></p></b>
	        </div>

	        </div>

	    </div>

	</div>
</div>






<script>
    // Short-form of `document.ready`
$(function(){
    $("#div2").hide();
    $("#preview").on("click", function(){
        $("#div2").toggle();
    });

});
</script>
<style>

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>

        </div>

      </div>
    </div>

<!-- comments close-->
<!-- footer -->

<div class="container-fluid top-heading bg-blue">
    <div class="container ">

	    <div class="row">
	        <div class="col-md-12 ">
	          <center>
	            <h4>
     vistor count:
                    <!-- hitwebcounter Code START -->

<img src='https://www.counter12.com/img-x0Z5z8xDDZZcwDzz-36.gif' border='0' alt='counter'>

                    <br>
© 2018 - Designed by <a href="www.redsuncube.com">redsuncube</a>. All rights reserved (Ravi Gandham)</h4>
	          </center>
	        </div>
	    </div>
	</div>
</div>