<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        table{
            margin:auto;
            font-size:18px;
        }
        th, td {
            padding:5px;
        }
    </style>
</head>
<body>
    <div align="center"><b><font size="5"><span style="font-weight: bold; font-style: normal; text-decoration: none; font-size: 14pt; color: #000000;">Complete Item Description</span></font></b></div>
    <table width="100%" border="1" cellpadding="1" cellspacing="0" style="border-color: red; border-style: solid; background-color: #5fcf80;">
        <tr>
            <td><b> Category </b></td>
            <td> {{ obj.category }} </td>

            <td><b> Item Name </b></td>
            <td> {{ obj.item_name }} </td>
        </tr>
        <tr>
            <td><b> Brand </b></td>
            <td> {{ obj.bnd }} </td>

            <td><b> Extra _ to use </b></td>
            <td> {{ obj.item_name }} </td>
        </tr>
        <tr>
            <td><b> Price </b></td>
            <td> {{ obj.price }} </td>

            <td><b> Location </b></td>
            <td> {{ obj.location }} </td>
        </tr>
        <tr>
            <td><b> Months Used</b></td>
            <td> {{ obj.months_used }}</td>

            <td><b> Years Used </b></td>
            <td> {{ obj.years_used }} </td>
        </tr>
        <tr>
            <td><b> Exchangable with</b></td>
            <td> {{ obj.exchange_category  }} </td>

            <td><b> Item Status </b></td>
            <td> {{ obj.get_item_status_display }}</td>
        </tr>
        <tr>
            <td><b> Item Image </b></td>
            <td><img src="/media/{{ obj.item_image }}"/></td>

            <td><b> Item Image2 </b></td>
            <td><img src="/media/{{ obj.item_image2 }}"/></td>
        </tr>
        <tr>
            <td><b> Owner Name</b></td>
            <td>  {{ userpro.user.first_name }} </td>

            <td><b> Owner Contact </b></td>
            <td> {{ mob }} </td>
        </tr>
    </table>
    <table width="100%" border="1" cellpadding="1" cellspacing="0" style="border-color: #0000ff; border-style: solid; background-color: #ccffff;">
        <tr>
            <td><b> Item Description </b></td>
            <td> {{ obj.item_full_desc }} </td>
        </tr>
        <tr>
            <td><b> Other Information </b></td>
            <td> {{ obj.other_info }} </td>
        </tr>
    </table>

</body>
</html>