
{% load staticfiles %}
{% load static %}

<head>
    <style>
        table{
            margin:auto;
            font-size:14px;
            font-family:ubuntu;
        }
        th, td {
            padding:5px;
        }
        th {
            background-color:#FFF2A2;
        }
        td{
            background-color:#FFF2A2;

        }
    </style>
</head>
<body>
    <div align="center"><b><font size="5"><span style="font-weight: bold; font-style: ubuntu; text-decoration: none; font-size: 14pt; color: #000000;">Complete Item Description</span></font></b></div>
    <table border="1" cellpadding="1" cellspacing="0" style="border-color: #e0ede0; border-style: solid;" width="95%">
        <tr>
            <th><b> Category </b></th>
            <td> {{ obj.category }} </td>

            <th><b> Item Name </b></th>
            <td> {{ obj.item_name }} </td>
        </tr>
        <tr>
            <th><b> Brand </b></th>
            <td> {{ obj.bnd }} </td>

            <th><b> Months Used </b></th>
            <td> {{ obj.months_used }}</td>
        </tr>
        <tr>
            <th><b> Price </b></th>
            <td> {{ obj.price }} </td>

            <th><b> Location </b></th>
            <td> {{ obj.location }} </td>
        </tr>

        <tr>
            <th><b> Exchangable with</b></th>
            <td> {{ obj.exchange_category  }} </td>

            <th><b> Item Status </b></th>
            <td> {{ obj.get_item_status_display }}</td>
        </tr>
        <tr>
            <th><b> Item Image </b></th>
            <td><img src="/media/{{ obj.item_image }}"/></td>

            <th><b> Item Image2 </b></th>
            <td><img src="/media/{{ obj.item_image2 }}"/></td>
        </tr>
        <tr>
            <th><b> Owner Name</b></th>
            <td>  {{ userpro.user.first_name }} </td>

            <th><b> Owner Contact </b></th>
            <td> {{ mob }} </td>
        </tr>
        <tr>
            <th><b> Item Description </b></th>
            <td colspan='3'> {{ obj.item_full_desc }} </td>
        </tr>
        <tr>
            <th><b> Other Information </b></th>
            <td colspan='3'> {{ obj.other_info }} </td>
        </tr>
    </table>

<div style="text-align:center;"></div><a href="{% url 'edit_item' obj.id %}" class="btn"><button>Edit</button></a></div>

</body

