{% extends 'base1.html' %}
{% block content %}


<div class="container-fluid column-starter">
    <!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <script>
                        $(document).ready(function() {
                            $("#myTable").tablesorter();

                            $("#myTable_own").tablesorter();

                            var code = {};
                            $("select[name='bnd'] > option").each(function() {
                                if (code[this.text]) {
                                    $(this).remove();
                                } else {
                                    code[this.text] = this.value;
                                }
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {

                            $("#link").click(function() {
                                var href = $('#link').attr('href');
                                var min = $('#min').val();
                                var max = $('#max').val();
                                //alert(min);
                                //alert(max);
                                //alert(href);
                                //alert("i am ihere");//Do stuff when clicked
                                final_link = href + min + "/" + max
                                    //alert(final_link);
                                $("#link").attr('href', final_link)
                            });
                        });
                    </script>
                    <!-- style-->

                    <!-- code-->

                    <div style=" background-color: #fff;" class="row">
                        <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">

                            <div style=" background-color: #ffff; min-height:641px;" class="sales">
                                <div style=" background-color: #1b3154;" class="row">

                                    <h4><b><center><font color="white">Global items</font></center></b></h4></div>


                                     <table border="1" cellpadding="1" cellspacing="0" style="border-color: #e0ede0; border-style: solid;" width="95%">
        <tr>
            <th><b> Category </b></th>
            <td> {{ obj.category }} </td>

            <th><b> Item Name </b></th>
            <td> {{ obj.item_name }} </td>
        </tr>
        <tr>
            <th><b> Brand </b></th>
            <td> {{ obj.bnd }} </td>

            <th><b> Months Used </b></th>
            <td> {{ obj.months_used }}</td>
        </tr>
        <tr>
            <th><b> Item Worth </b></th>
            <td> {{ obj.price }} </td>

            <th><b> Location </b></th>
            <td> {{ obj.location }} </td>
        </tr>

        <tr>
            <th><b> Exchangable with</b></th>
             <td> {% if obj.price == 0 %}-- Free -- {% else %}{{ obj.exchange_category  }}{% endif %} </td>

            <th><b> Item Status </b></th>
            <td> {{ obj.get_item_status_display }}</td>
        </tr>

 <tr>
            <th><b> Item Image </b></th>
            <td><img src="/media/{{ obj.item_image }}" height="200" width="150" ></td>

            <th><b> Item Image2 </b></th>
            <td><img src="/media/{{ obj.item_image2 }}" height="200" width="150" ></td>

        </tr>


        <tr>
            <th><b> Owner Name</b></th>
            <td>  {{ userpro.first_name|default:"Owner name not entered" }}  </td>

            <th><b> Owner Contact </b></th>
            <td> {{ mob.mobile|default:"Mobile number not Entered" }} </td>
        </tr>
        <tr>
            <th><b> Item Description </b></th>
            <td colspan='3'> {{ obj.item_full_desc }} </td>
        </tr>
        <tr>
            <th><b> Other Information </b></th>
            <td colspan='3'> {{ obj.other_info }} </td>
        </tr>
    </table>
<br>
<b> &nbsp * Call the owner with the provided number and start negotiation for exchange your items. </b>
                                </ul>

                                </center><br><hr>
                            </div>
                        </div>



                             <div style=" background-color: #fff;" class="row">

                        <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">
                           <div style=" background-color: #fff; min-height:641px;" class="sales report">
                                <div style=" background-color: #1b3154;" class="row">

                                    <h4><font color="white"><b><center>{{request.user}}  - Your items</center></b></font></h4></div>
                                <center>
                                    <table width="85%">
                                        <tr>
                                            <th colspan=3> <font size=2><b>Total Items</b> : {{ useritemscount }}</font>
                                            </th>
                                            <th colspan=3>
                                                <font size=2><b>Total Value</b> : Rs: {{ totcount }}</font>

                                            </th>
                                        </tr>
                                    </table>

                                    <table width="99%" border=1 id="myTable_own" class="tablesorter">
                                        <thead>
                                            <tr height=4 0px; font-weight: bold;>

                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Item<br>Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;  font-weight: bold;">Description</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Categories</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Brand</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; "><i class="fa fa-picture-o"></i></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Item<br>Worth<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Exchange<br>With</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Location <i class="fa fa-map-marker"></i></span></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for useritems in items %}

                                            <tr>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><a href = "{% url 'view_item' useritems.id %}">{{ useritems.id }}</a></span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.item_name }}
                                                   <!-- <a href="{% url 'edit_item' useritems.id %}">{{ useritems.item_name }}</a> --></span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.category }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.bnd.brand_name }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><img src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.price }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.exchange_category }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.location }}</span></td>
                                            </tr>

                                            {% endfor %}</tbody>
                                    </table>

                                    {% if items.has_other_pages %}
                                    <ul class="pagination">
                                        {% if items.has_previous %}
                                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                        {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                        {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
                                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                        </li>
                                        {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %} {% endfor %} {% if items.has_next %}
                                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                        {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </center>

                                <script>
                                    function popupCenter(url, title, w, h) {
                                        var left = (screen.width / 2) - (w / 2);
                                        var top = (screen.height / 2) - (h / 2);
                                        return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                                    }
                                </script>
                                <div align="center">
                                    <a href="{% url 'additems' %}" title="add iteams"><i class="fa fa-plus-circle"></i> Add Items</a>
                                    <br>

                                </div>
<br>
<hr>

                        </div>

                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--   </div> -->


        </div>

    </div>

</div>

</div>
</div>

{% endblock %}