{%include "base.html"%}
<div id="myCarousel" class="carousel slide head-t-mar-70" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="caraous-title">
            <div class="col-md-12">
                <div class="col-md-6">
                    <span>Non-Profit Organization</span>
                    <h1>Small Effort <br> Make Big Change </h1>
                    <h3>We are non-profit NGO & Charity Organization</h3>
                    <a class="btn btn-lg btn-primary site-btn" href="#">Learn More</a>
                </div>
                <div class="col-md-6 caraous-img-box">
                   <img src="http://wpocean.com/tf/html/naima/assets/img/app/about-app.png"class="img-responsive">
                </div>
                
            </div>
        
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://images.pexels.com/photos/760681/pexels-photo-760681.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive">
      <div class="container">
        <div class="caraous-title">
            <div class="col-md-12">
                <div class="col-md-6">
                    <span>Non-Profit Organization</span>
                    <h1>Small Effort <br> Make Big Change </h1>
                    <h3>We are non-profit NGO & Charity Organization</h3>
                    <a class="btn btn-lg btn-primary site-btn" href="#">Learn More</a>
                </div>
                <div class="col-md-6 caraous-img-box">
                   <img src="http://premiumlayers.net/demo/html/maxlaw/assets/images/slide-men.png"class="img-responsive">
                </div>
            </div>
        
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://images.pexels.com/photos/763771/pexels-photo-763771.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive">
      <div class="container">
        <div class="caraous-title">
            <div class="col-md-12">
                <div class="col-md-6">
                    <span>Non-Profit Organization</span>
                    <h1>Small Effort <br> Make Big Change </h1>
                    <h3>We are non-profit NGO & Charity Organization</h3>
                    <a class="btn btn-lg btn-primary site-btn" href="#">Learn More</a>
                </div>
            </div>
        
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>  
  
<div class="title-area area-padding">
    <div class="container">
        <div class="row text-center">
	    <div class="col-md-offset-2 col-md-8 col-sm-12 text-center"> 
                <h3>We provide technology-enabled enterprise solutions that empower people to adopt better health behaviors and make smarter healthcare decisions.</h3>
                <h3 class="span">The result? A better return on everyone’s investment in health and well-being.</h3>
            </div>
        </div>
    </div>
</div>
<div class="blog-section area-padding ">
<div class="container">
	<div class="row text-center">
	       <div class="col-sm-6 col-md-4">
							<div class="blog-box">
								<div class="blog-box-image">
									<img src="https://images.pexels.com/photos/6384/woman-hand-desk-office.jpg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="">
								</div>
								<div class="blog-box-content">
									<h4><a href="#">Exception Consurement Experience</a></h4>
									<p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. 
									Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>
									<a href="" class="btn btn-default site-btn">Read More</a>
								</div>
							</div>
						</div> <!-- End Col -->					
			<div class="col-sm-6 col-md-4">
							<div class="blog-box">
								<div class="blog-box-image">
									<img src="https://images.pexels.com/photos/374897/pexels-photo-374897.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="">
								</div>
								<div class="blog-box-content">
									<h4><a href="#">Exception Consurement Experience</a></h4>
									<p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. 
									Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>
									<a href="" class="btn btn-default site-btn">Read More</a>
								</div>
							</div>
						</div> <!-- End Col -->				
			<div class="col-sm-6 col-md-4">
							<div class="blog-box">
								<div class="blog-box-image">
									<img src="https://images.pexels.com/photos/541522/pexels-photo-541522.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" class="img-responsive" alt="">
								</div>
								<div class="blog-box-content">
									<h4><a href="#">Exception Consurement Experience</a></h4>
									<p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. 
									Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>
									<a href="" class="btn btn-default site-btn">Read More</a>
								</div>
							</div>
						</div> <!-- End Col -->
    </div>
</div>
</div>
<div class="service-area area-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="sec-title">
                    <h3 class="span">What sets us apart?</h3>
                    <p>WE BRING IT ALL TOGETHER.</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4 service-box1">
                <div class="service-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="service-title">
                    <h4>Exception Consurement Experience</h4>
                    <p>RedBrick blends a dynamic digital experience and one-to-one clinical support to integrate better habits and smarter health choices into the way people live and work.</p>
                </div>
            </div>
            <div class="col-md-4 service-box2">
                <div class="service-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="service-title">
                    <h4>Exception Consurement Experience</h4>
                    <p>RedBrick blends a dynamic digital experience and one-to-one clinical support to integrate better habits and smarter health choices into the way people live and work.</p>
                </div>
            </div>
            <div class="col-md-4 service-box3">
                <div class="service-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="service-title">
                    <h4>Exception Consurement Experience</h4>
                    <p>RedBrick blends a dynamic digital experience and one-to-one clinical support to integrate better habits and smarter health choices into the way people live and work.</p>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="subscribe-area area-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h3 class="span">Let's get started.</h3>
                <button type="button" class="btn site-btn">Contact Us</button>
            </div>
        </div>
    </div>
</div>
<style>
 /**** Generic CSS ****************/
.head-t-mar-70 {margin-top:70px;}
i {font-size:80px;color:#;}
.area-padding{padding:60px 0px 60px 0px;}
h3 {font-weight:400;}
h4 {font-weight:600;}
.span{color:#dd0000;}
a {color:#000;}
a:hover {color:#dd0000;text-decoration:none;}
p {font-size:15px;}
/************** Service CSS ******/
.service-area {background:#;}
.service-box1 {padding:15px;background:#53b2b0;color:#fff;}
.service-box2 {padding:15px;background:#ba0b51;color:#fff;}
.service-box3 {padding:15px;background:#518e4a;color:#fff;}
 /************* Carousel CSS **************/
 .item img {width:100%; max-height:450px;display: block;}
.caraous-title {
    position: absolute;
    top: 20%;
    left: 15.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #000;
}
.caraous-title h1 {color:#000;font-size:55px; font-weight:700;}
.caraous-title h3 {margin-bottom:30px;color:#fff;font-size:24px;}
.caraous-title span {color:#aa1f43;font-size:20px;}
.caraous-img-box img {width:50%;}
/* Button */
.site-btn{padding:2px 25px 2px 25px;background:#DF314D;font-size:14px;color:#fff;}
.site-btn:hover{background:#C9223D;color:#fff;}

 /* Navigation CSS */
.caret-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;

  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.dropdown-menu {padding:0px;}
.dropdown-menu > li > a:hover {
color: #fff;
text-decoration: none;
background-color: #fe2d5b ;
}
.dropdown-menu > li > a {padding:5px; border-bottom:1px solid #fff;margin:0px;}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  border-top:10px solid #fe2d5b;
  padding:20px 0px 10px 0px;
  font-weight:600;
  letter-spacing:1px;
  font-size:16px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.navbar-default .navbar-brand {
  color: #242424;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fe2d5b;
}
.navbar-default .navbar-text {
  color: #242424;
}
.navbar-default .navbar-nav > li > a {
  color: #242424;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fe2d5b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fe2d5b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fe2d5b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #242424;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #242424;
}
.navbar-default .navbar-link {
  color: #242424;
}
.navbar-default .navbar-link:hover {
  color: #fe2d5b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #242424;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fe2d5b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fe2d5b;
    background-color: #ffffff;
  }
</style>
<script>
  $(function(){
        $(".dropdown").hover(            
          function() {
            $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
            $(this).toggleClass('open');
            $('b', this).toggleClass("caret caret-up");                
          },
          function() {
            $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
            $(this).toggleClass('open');
            $('b', this).toggleClass("caret caret-up");                
          });
      });
</script>



{%include "footer.html"%}
