{% extends 'base.html' %}
{% block content %}

<div class="container-fluid column-starter">
	<!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
	<div class="row">
	    <div class="col-md-3 sidebar">
	        <div class="panel">
    	       <div class="panel-body ">
                <div class="sidebar-nav">
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#" class="" aria-expanded="true">Login <i class="fa fa-angle-up pull-right"></i></a>
                        </h4>
                      </div>
                     <div id="sidemenu1" class="panel-collapse collapse in" aria-expanded="true" style="">
                         <div class="list-group">
                               <form action="{% url 'login' %}"method="post">
                               {% csrf_token %}
                               <table><tr><th>Username</th><td><input required name="username" class="effect-2" type="text" placeholder="Login..."></td></tr>
                               <tr><th>Password</th><td><input required name="password" class="effect-2" type="password" placeholder="Password..."></td></tr>
                               <tr><th></th><th><br>
                                   <button class="button2" type=submit><i class="fas fa-sign-in-alt"> Login</i></button>

                               </th></tr>
                               </table>

                               </form><a href="/forget_password">Forgot Password</a>







                            </div>

                    </div>
                 </div>
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="/signup">Signup <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>

                </div>


    	        </div>

	        </div>
	    </div>
	    <div class="col-md-9">
	        <div class="panel">
	       <div class="panel-body">
	           {% load staticfiles %}
	            <img src="{% static 'admin/img/logo.jpg' %}" width="190" height="135" alt="" title="" /> &nbsp &nbsp &nbsp <img src="{% static 'admin/img/barterprocess.jpg' %}" width="490" height="50" alt="" title="" />
	            <legend></legend>
	            <b><p>Barter is a system of exchange where goods or services are directly exchanged for other goods or services without using a medium of exchange, such as money, but our Portal is little hybreed where we can negotiate the exchange with money too.<br>
				BarterKings.in Portal provides the platform to exchange our unused or Idle products/Items with the products with likeminded users.<br>
				The concept of BarterKings portal came into existences by the group of IT gurus who have some valued items which are not
				in use by them anymore and also they can't able to throw away as they are valued. Here the Idea has born to exchange their products with the
				similar mindset people who wants to exchange their products.<br>
				BarterKings.in portal facilitates the user to Add their items/products in the portal with relevant product information and also facilitates them in searching
				their interested products from the global products which has added by the global users.<br>
			 	Barterkings.in portal is built on the concept of serving the users with no expectation of profits out of the items/products exchange and the portal will not be
				involving in any financial dealings with the users.<br>
				This Portal also provides the information on the Free items available where our users can give away as Freebies* <br>
				* click on the link provided under the each category once you are logged in.</p></b>
	        </div>
<!-- code add-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="row">
    <h3>Latest Products</h3>
  </div>
  <div class='row'>
    <div class='col-md-10'>
      <div class="carousel slide media-carousel" id="recommendations">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
             {% for useritems in img_obj1 %}
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img alt="" src="{{ useritems.item_image.url }}"></a>
              </div>
             {% endfor %}
            </div>
          </div>

          <div class="item">
            <div class="row">
              {% for useritems in img_obj2 %}
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img alt="" src="{{ useritems.item_image.url }}"></a>
              </div>
              {% endfor %}


            </div>
          </div>
          <div class="item">
            <div class="row">
              {% for useritems in img_obj3 %}
              <div class="col-md-2">
                <a class="thumbnail" href="#"><img alt="" src="{{ useritems.item_image.url }}"></a>
              </div>
              {% endfor %}


            </div>
          </div>
        </div>
        <a data-slide="prev" href="#recommendations" class="left carousel-control btn btn-default btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a><br>
        <a data-slide="next" href="#recommendations" class="right carousel-control btn btn-default btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>
<style>
    /* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
  width: 100%;
}
body .container
{
    width: 100%;
    margin: auto;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  left: -28px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 191px;
  width : 60px;
  margin-top: 30px
  margin-left:15px;
}
/* Next button  */
.media-carousel .carousel-control.right
{
  right: -8px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 191px;
  width : 60px;
  margin-top: -2px;
  margin-right: -15px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 100%;
  height: 180px;
}
/* End carousel */
</style>
<script>
    $(document).ready(function() {
  $('#recommendations').carousel({
    pause: true,
    interval: false,
  });
});
</script>
<!--code end -->

	        </div>

	    </div>

	</div>
</div>


{% endblock %}


