{% extends "base1.html" %}
{% block content %}

{% load staticfiles %}

<form style="display:inline;" action="/signup/" method="post" id="f_register">
{% csrf_token %}
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-3">
  			<div id="iosBlurBg">
  				<div id="whiteBg"></div>
  			</div>
  			<div id="bottomEnter"></div>
  			<div id="bottomBlurBg"></div>
  			<!-- Login Form -->
  			<div class="loginForm">
  				<div class="title">
                    <img  height="100" width="150" src="{% static 'admin/img/logo.png' %}">
             		<p>Barter<br><span>Kings</span></p>
  				</div>
				<div class="col-3">
		        	<input type="text" name="s_username" class="effect-2 form-control" placeholder="username"/>
		        	<input type="text" name="s_fullname" class="effect-2 form-control" placeholder="Fullname"/>
                    <input type="text" name="email"class="effect-2 form-control" placeholder="e-mail" />
                    <input type="text" name="s_mobile" class="effect-2 form-control" placeholder="mobile" />
		            <input type="password" name="s_pass" class="effect-2 form-control" placeholder="password"/>
		            <input type="password" name="s_passr"class="effect-2 form-control" placeholder="confirm pwd"/>
		        </div>
			    <div class="enterButton">
			        <br>
			        <input type="submit" value="Sign up" class="btn btn-default button2 "/>
  		    	</div>
  				</form>
  			</div>
        </div>
    </div>
</div>


{% endblock %}