{% extends 'home/udb_base1.html' %}

{% block body %}
<style>
    .just{
    text-align: justify;
    text-justify: inter-word;
    }
.nav-item > .card {

    background-color: #aab0b3;

}
</style>


<script>
$(document).ready(function(){

    var i = 0;
    var txt = $('#aboutbk').text();
    //alert(txt);
    var speed = 60;

    function typeWriter() {
      if (i < txt.length) {
      //alert(i);
        document.getElementById("demo").innerHTML += txt.charAt(i);
        i++;
        setTimeout(typeWriter, speed);
      }
    }
    typeWriter()
});

</script>

<!--<div class="row">
    <div class="col-sm-12">
        <div class="card-body">
            <div class="card-header">
                About Barterkings <img src="/media/images/logo.jpg" class="img-thumbnail" height="80px" width="80px">
            </div>
            <div class="card-content just" id="demo">

            </div>

            <p id="aboutbk" style="display:none;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BarterKings Portal gives us the platform to exchange our unused or Idle products/Items with other Products which is with other likeminded users.

The concept of BarterKings portal came into real existences by the group of IT software architects who have some valued items which are not in used by them anymore also they can’t be thrown away Here the Idea has born to exchange their products with the likeminded people who wants to exchange their products.

BarterKings portal facilitates the user to Add their Products into the portal with relevant product details and facilitates them in searching their interested products from the global products which was added by the global users.

This Portal is built on the concept of serving its users with no expectation of gaining any profits out of their exchange of products and portal will not be involving in any financial dealings.

            </p>
        </div>
    </div>

</div>
-->

<style>
    .white{
    color:#000;
    background-color:#fff;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #2b4b90;
    *background-color: #133783;
    background-image: -moz-linear-gradient(top, #3b5998, #133783);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b5998), to(#133783));
    background-image: -webkit-linear-gradient(top, #3b5998, #133783);
    background-image: -o-linear-gradient(top, #3b5998, #133783);
    background-image: linear-gradient(to bottom, #3b5998, #133783);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
    	<div class="col-md22  ">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Login via site</h3>
			 	</div>
			  	<div class="panel-body">
			    <form action="{% url 'login' %}"method="post">
                               {% csrf_token %}
                    <fieldset>
			    	  	<div class="form-group">
			    		    <input class="form-control" placeholder="yourmail@example.com" name="username" type="text">
			    		</div>
			    		<div class="form-group">
			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<a href="/forget_password">Forgot Password</a>
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
			    	</fieldset>
			      	</form>
                      <hr/>

                    <a href="/signup"><input class="btn btn-lg btn-facebook btn-block" type="submit" value="Signup"> </a>
			    </div>
			</div>
		</div>
		 <div class="col-md-8">
	        <div class="panel">
	             <div class="panel-body">
        	            {% load staticfiles %}
        	              {% load staticfiles %}

	          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHTZCDniLmFKR1O-axWvnNyFdiVbEDJV9brWthxqHc-6l63-ii"><h2>Your Signup has completed Successfully,
                                          												   Please tap on Login button. </h2><br>

        	            <img src="{% static 'admin/img/logo.jpg' %}" width="190" height="135" alt="" title="" /> &nbsp &nbsp &nbsp <img src="{% static 'admin/img/barterprocess.jpg' %}" width="490" height="50" alt="" title="" />
        	            <legend></legend>
        	            <b><p>Barter is a system of exchange where goods or services are directly exchanged for other goods or services without using a medium of exchange, such as money, but our Portal is little hybreed where we can negotiate the exchange with money too.<br>
        				BarterKings.in Portal provides the platform to exchange our unused or Idle products/Items with the products with likeminded users.<br>
        				The concept of BarterKings portal came into existences by the group of IT gurus who have some valued items which are not
        				in use by them anymore and also they can't able to throw away as they are valued. Here the Idea has born to exchange their products with the
        				similar mindset people who wants to exchange their products.<br>
        				BarterKings.in portal facilitates the user to Add their items/products in the portal with relevant product information and also facilitates them in searching
        				their interested products from the global products which has added by the global users.<br>
        			 	Barterkings.in portal is built on the concept of serving the users with no expectation of profits out of the items/products exchange and the portal will not be
        				involving in any financial dealings with the users.<br>
        				This Portal also provides the information on the Free items available where our users can give away as Freebies* <br>
        				* click on the link provided under the each category once you are logged in.</p></b>
        	     </div>
        	</div>
        </div>

	</div>
</div>





<style>
    .cardhome{height:350px;}

    .img-thumbnail{
        margin: auto;
    }

</style>






{% endblock %}
