{% extends 'base.html' %}
{% block content %}


<div class="container-fluid column-starter">
	<!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
	<div class="row">
	    <div class="col-md-3 sidebar">
	        <div class="panel">
    	       <div class="panel-body ">
                <div class="sidebar-nav">
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="/login" class="" aria-expanded="true">Login <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>
                 <div class="sidebar panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a href="/signup" data-toggle="collapse" href="#sidemenu2" id="preview" class="" aria-expanded="true">Signup <i class="fa fa-angle-down pull-right"></i></a>
                        </h4>
                      </div>

                 </div>

                </div>


    	        </div>

	        </div>
	    </div>
	    <div class="col-md-9">
	        <div class="panel">
	       <div class="panel-body">
	           {% load staticfiles %}

	          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHTZCDniLmFKR1O-axWvnNyFdiVbEDJV9brWthxqHc-6l63-ii"><h2> Signup is done successfully, click Login. </h2><br>


	           	        </div>

	        </div>

	    </div>

	</div>
</div>






<script>
    // Short-form of `document.ready`
$(function(){
    $("#div2").hide();
    $("#preview").on("click", function(){
        $("#div2").toggle();
    });

});
</script>
<style>

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>

        </div>

      </div>
    </div>

<!-- comments close-->

{% endblock %}