<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Exchange - SHOP</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'shopstatic/css/bootstrap.min.css' %}" />

	<!-- Slick -->
	<link type="text/css" rel="stylesheet" href="{% static 'shopstatic/css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'shopstatic/css/slick-theme.css' %}" />

	<!-- nouislider -->
	<link type="text/css" rel="stylesheet" href="{% static 'shopstatic/css/nouislider.min.css' %}" />

	<!-- Font Awesome Icon -->
	<link rel="stylesheet" href="{% static 'shopstatic/css/font-awesome.min.css' %}">
  <link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet'  type='text/css'>
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'shopstatic/css/style.css' %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	<style>
	.stheader{text-shadow: 1px 1px 5px #a9a3a3;}
		.banner > img {
    width: 80%;

}
.info{
background-color: #8ea4d1;
padding: 5px;
text-align: center;
border-radius: 8px;
}
.catli { padding : 13px;
         width:30%;
         text-align:center;
         color:white;
         background-color:white;
         }
.well {
background-color: #d57565;
border-radius:15px;
font-weight:bold;
font-size:12px;

}
.st {
background-color: #685757;
color: white;
padding: 5px;
text-align: center;
border-radius: 4px;
height:50px;

}

.countst {

color: white;
padding: 10px;
text-align: center;
background-color: #615540;
border-radius: 6px;
font-size: 14px;
font-weight: bold;
    box-shadow: 5px 5px 5px #bdb7b7;

}
li:hover{background-color:white;
font-size:14px;
box-shadow: 6px 6px 13px 3px #5d5553;

}

.subhead{

padding: 15px;
background-color: #0d2851;
color: white;
text-align: center;
border-radius: 8px;
font-weight:bold;
box-shadow: 6px 6px 13px 3px #5d5553;
}
.header-search
{
padding-left: 65px;
max-width: 500px;
}
</style>
</head>

<body>

{% include 'header.html' %}
  <div class="panel panel-default">

	<!--<div class="panel-body" style="padding-left: 110px; padding-right: 110px;">-->
		<!--<div class="row">-->
			<!--<div class="col-md-3">-->
				<!--<div class="countst">-->
					<!--Total Items : 7898878-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3">-->
				<!--<div class="countst">-->
					<!--Total Worth : Rs: 4545646456-->

				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3">-->
				<!--<div class="countst">-->
					<!--Total Worth : Rs: 4545646456-->

				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3">-->
				<!--<div class="countst">-->
					<!--Total Worth : Rs: 4545646456-->

				<!--</div>-->
			<!--</div>-->

		<!--</div>-->

	<!--</div>-->
  </div>
	<!-- NAVIGATION-->
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="subhead">
					Categories
				</div>

				<div class="row">
						<div class="col-md-6">
							<div class="countst">
								Total Items : 7898878
							</div>
						</div>
						<div class="col-md-6">
							<div class="countst">
								Total Worth : Rs: 4545646456

							</div>

						</div>
				</div>


			</div>
			<div class="col-md-6">
				<div class="subhead">
					My Products
				</div>


				<div class="row">
						<div class="col-md-6">
							<div class="countst">
								Total Items : {{ useritemscount }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="countst">
								Total Worth : Rs: {{ totcount }}

							</div>

						</div>
				</div>

			</div>

		</div>
<br>
<br>
		<div class="row">
			<div class="col-md-6">
				<ul class="nav nav-pills">
<!--dynamic categories-->
				{% for category in allcat %}
					<li style="padding: 1px;" class="catli">
						<div class="well">
							{{ category.category_name }}
						</div>
					</li>
				{% endfor %}


				</ul>
				<ul>
				</ul>
			</div>
			<div class="col-md-6">

				<div class="row">
					<div class="col-md-2 info"><a href="{% url 'additems' %}"><i class="fa fa-plus-circle"></i></a> </div>
					<!--<div class="col-md-2 info">Edit item</div>-->
					<!--<div class="col-md-2 info">Delete item</div>-->
					<div class="col-md-2 info">Give away</div>
					<div class="col-md-2 info">Others</div>
				</div>
<br>
<br>
<br>
				<div class="row">
					<div class="col-md-2 st"> Item code</div>
					<div class="col-md-2 st">Short Desc</div>
					<div class="col-md-2 st">Categories</div>
					<div class="col-md-2 st"><i class="fa fa-picture-o"></i></div>
					<div class="col-md-2 st">Exchange worth</div>
					<div class="col-md-2 st"><i class="fa fa-map-marker"></i></div>
					<!--<div class="col-md-1 st"><i class="fa fa-remove"></i></div>-->
				</div>


					{% for useritems in items %}

				<div class="row">
					<div class="col-md-2">{{ useritems.id }}</div>
					<div class="col-md-2">{{ useritems.item_name }}</div>
					<div class="col-md-2">{{ useritems.category }}</div>
					<div class="col-md-2"> <img src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></div>
					<div class="col-md-2"><i class="fa fa-rupee"></i>{{ useritems.price }}</div>
					<div class="col-md-2">{{ useritems.location }}</div>
					<!--<div class="col-md-2"><i class="fa fa-delete"></i></div>-->
				</div>
					{% endfor %}


  <ul class="pager">
    <li class="previous"><a href="#">Previous</a></li>
    <li class="next"><a href="#">Next</a></li>
  </ul>


			</div>



		</div>

	</div>


	<!-- /NAVIGATION -->

	<!-- HOME -->
<!-- /HOME -->

	<!-- FOOTER -->
	<footer id="footer" class="section section-grey">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- footer widget -->
				<!-- /footer widget -->

				<!-- footer subscribe -->
				<!--<div class="col-md-3 col-sm-6 col-xs-6">-->
					<!--<div class="footer">-->
						<!--<h3 class="footer-header">Stay Connected</h3>-->
						<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>-->
						<!--<form>-->
							<!--<div class="form-group">-->
								<!--<input class="input" placeholder="Enter Email Address">-->
							<!--</div>-->
							<!--<button class="primary-btn">Join Newslatter</button>-->
						<!--</form>-->
					<!--</div>-->
				<!--</div>-->
				<!-- /footer subscribe -->
			</div>
			<!-- /row -->
			<hr>
			<!-- row -->
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<!-- footer copyright -->
					<div class="footer-copyright">
						Copyright &copy; All rights reserved
					</div>
					<!-- /footer copyright -->
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</footer>
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	<script src="{% static 'shopstatic/js/jquery.min.js' %}"></script>
	<script src="{% static 'shopstatic/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'shopstatic/js/slick.min.js' %}"></script>
	<script src="{% static 'shopstatic/js/nouislider.min.js' %}"></script>
	<script src="{% static 'shopstatic/js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'shopstatic/js/main.js' %}"></script>

</body>

</html>
