
{% extends "base1.html" %}
{% block content %}
{% load staticfiles %}
{% load static %}
<!-- libarary file-->
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js "></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dash_boot.css' %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">


<!-- scripts-->
<script>
    /*! jQuery-ui-Slider-Pips - v1.11.4 - 2016-09-04
* Copyright (c) 2016 Simon Goellner <simey.me@gmail.com>; Licensed MIT */

(function($) {

    "use strict";

    var extensionMethods = {





        // pips

        pips: function( settings ) {

            var slider = this,
                i, j, p,
                collection = "",
                mousedownHandlers,
                min = slider._valueMin(),
                max = slider._valueMax(),
                pips = ( max - min ) / slider.options.step,
                $handles = slider.element.find(".ui-slider-handle"),
                $pips;

            var options = {

                first: "label",
                /* "label", "pip", false */

                last: "label",
                /* "label", "pip", false */

                rest: "pip",
                /* "label", "pip", false */

                labels: false,
                /* [array], { first: "string", rest: [array], last: "string" }, false */

                prefix: "",
                /* "", string */

                suffix: "",
                /* "", string */

                step: ( pips > 100 ) ? Math.floor( pips * 0.05 ) : 1,
                /* number */

                formatLabel: function(value) {
                    return this.prefix + value + this.suffix;
                }
                /* function
                    must return a value to display in the pip labels */

            };

            if ( $.type( settings ) === "object" || $.type( settings ) === "undefined" ) {

                $.extend( options, settings );
                slider.element.data("pips-options", options );

            } else {

                if ( settings === "destroy" ) {

                    destroy();

                } else if ( settings === "refresh" ) {

                    slider.element.slider( "pips", slider.element.data("pips-options") );

                }

                return;

            }


            // we don't want the step ever to be a floating point or negative
            // (or 0 actually, so we'll set it to 1 in that case).
            slider.options.pipStep = Math.abs( Math.round( options.step ) ) || 1;

            // get rid of all pips that might already exist.
            slider.element
                .off( ".selectPip" )
                .addClass("ui-slider-pips")
                .find(".ui-slider-pip")
                .remove();

            // small object with functions for marking pips as selected.

            var selectPip = {

                single: function(value) {

                    this.resetClasses();

                    $pips
                        .filter(".ui-slider-pip-" + this.classLabel(value) )
                        .addClass("ui-slider-pip-selected");

                    if ( slider.options.range ) {

                        $pips.each(function(k, v) {

                            var pipVal = $(v).children(".ui-slider-label").data("value");

                            if (( slider.options.range === "min" && pipVal < value ) ||
                                ( slider.options.range === "max" && pipVal > value )) {

                                $(v).addClass("ui-slider-pip-inrange");

                            }

                        });

                    }

                },

                range: function(values) {

                    this.resetClasses();

                    for ( i = 0; i < values.length; i++ ) {

                        $pips
                            .filter(".ui-slider-pip-" + this.classLabel(values[i]) )
                            .addClass("ui-slider-pip-selected-" + ( i + 1 ) );

                    }

                    if ( slider.options.range ) {

                        $pips.each(function(k, v) {

                            var pipVal = $(v).children(".ui-slider-label").data("value");

                            if ( pipVal > values[0] && pipVal < values[1] ) {

                                $(v).addClass("ui-slider-pip-inrange");

                            }

                        });

                    }

                },

                classLabel: function(value) {

                    return value.toString().replace(".", "-");

                },

                resetClasses: function() {

                    var regex = /(^|\s*)(ui-slider-pip-selected|ui-slider-pip-inrange)(-{1,2}\d+|\s|$)/gi;

                    $pips.removeClass( function(index, css) {
                        return ( css.match(regex) || [] ).join(" ");
                    });

                }

            };

            function getClosestHandle( val ) {

                var h, k,
                    sliderVals,
                    comparedVals,
                    closestVal,
                    tempHandles = [],
                    closestHandle = 0;

                if ( slider.values() && slider.values().length ) {

                    // get the current values of the slider handles
                    sliderVals = slider.values();

                    // find the offset value from the `val` for each
                    // handle, and store it in a new array
                    comparedVals = $.map( sliderVals, function(v) {
                        return Math.abs( v - val );
                    });

                    // figure out the closest handles to the value
                    closestVal = Math.min.apply( Math, comparedVals );

                    // if a comparedVal is the closestVal, then
                    // set the value accordingly, and set the closest handle.
                    for ( h = 0; h < comparedVals.length; h++ ) {
                        if ( comparedVals[h] === closestVal ) {
                            tempHandles.push(h);
                        }
                    }

                    // set the closest handle to the first handle in array,
                    // just incase we have no _lastChangedValue to compare to.
                    closestHandle = tempHandles[0];

                    // now we want to find out if any of the closest handles were
                    // the last changed handle, if so we specify that handle to change
                    for ( k = 0; k < tempHandles.length; k++ ) {
                        if ( slider._lastChangedValue === tempHandles[k] ) {
                            closestHandle = tempHandles[k];
                        }
                    }

                    if ( slider.options.range && tempHandles.length === 2 ) {

                        if ( val > sliderVals[1] ) {

                            closestHandle = tempHandles[1];

                        } else if ( val < sliderVals[0] ) {

                            closestHandle = tempHandles[0];

                        }

                    }

                }

                return closestHandle;

            }

            function destroy() {

                slider.element
                    .off(".selectPip")
                    .on("mousedown.slider", slider.element.data("mousedown-original") )
                    .removeClass("ui-slider-pips")
                    .find(".ui-slider-pip")
                    .remove();

            }

            // when we click on a label, we want to make sure the
            // slider's handle actually goes to that label!
            // so we check all the handles and see which one is closest
            // to the label we clicked. If 2 handles are equidistant then
            // we move both of them. We also want to trigger focus on the
            // handle.

            // without this method the label is just treated like a part
            // of the slider and there's no accuracy in the selected value

            function labelClick( label, e ) {

                if (slider.option("disabled")) {
                    return;
                }

                var val = $(label).data("value"),
                    indexToChange = getClosestHandle( val );

                if ( slider.values() && slider.values().length ) {

                    slider.options.values[ indexToChange ] = slider._trimAlignValue( val );

                } else {

                    slider.options.value = slider._trimAlignValue( val );

                }

                slider._refreshValue();
                slider._change( e, indexToChange );

            }

            // method for creating a pip. We loop this for creating all
            // the pips.

            function createPip( which ) {

                var label,
                    percent,
                    number = which,
                    classes = "ui-slider-pip",
                    css = "",
                    value = slider.value(),
                    values = slider.values(),
                    labelValue,
                    classLabel,
                    labelIndex;

                if ( which === "first" ) {

                    number = 0;

                } else if ( which === "last" ) {

                    number = pips;

                }

                // labelValue is the actual value of the pip based on the min/step
                labelValue = min + ( slider.options.step * number );

                // classLabel replaces any decimals with hyphens
                classLabel = labelValue.toString().replace(".", "-");

                // get the index needed for selecting labels out of the array
                labelIndex = ( number + min ) - min;

                // we need to set the human-readable label to either the
                // corresponding element in the array, or the appropriate
                // item in the object... or an empty string.

                if ( $.type(options.labels) === "array" ) {

                    label = options.labels[ labelIndex ] || "";

                } else if ( $.type( options.labels ) === "object" ) {

                    if ( which === "first" ) {

                        // set first label
                        label = options.labels.first || "";

                    } else if ( which === "last" ) {

                        // set last label
                        label = options.labels.last || "";

                    } else if ( $.type( options.labels.rest ) === "array" ) {

                        // set other labels, but our index should start at -1
                        // because of the first pip.
                        label = options.labels.rest[ labelIndex - 1 ] || "";

                    } else {

                        // urrggh, the options must be f**ked, just show nothing.
                        label = labelValue;

                    }

                } else {

                    label = labelValue;

                }




                if ( which === "first" ) {

                    // first Pip on the Slider
                    percent = "0%";

                    classes += " ui-slider-pip-first";
                    classes += ( options.first === "label" ) ? " ui-slider-pip-label" : "";
                    classes += ( options.first === false ) ? " ui-slider-pip-hide" : "";

                } else if ( which === "last" ) {

                    // last Pip on the Slider
                    percent = "100%";

                    classes += " ui-slider-pip-last";
                    classes += ( options.last === "label" ) ? " ui-slider-pip-label" : "";
                    classes += ( options.last === false ) ? " ui-slider-pip-hide" : "";

                } else {

                    // all other Pips
                    percent = (( 100 / pips ) * which ).toFixed(4) + "%";

                    classes += ( options.rest === "label" ) ? " ui-slider-pip-label" : "";
                    classes += ( options.rest === false ) ? " ui-slider-pip-hide" : "";

                }

                classes += " ui-slider-pip-" + classLabel;


                // add classes for the initial-selected values.
                if ( values && values.length ) {

                    for ( i = 0; i < values.length; i++ ) {

                        if ( labelValue === values[i] ) {

                            classes += " ui-slider-pip-initial-" + ( i + 1 );
                            classes += " ui-slider-pip-selected-" + ( i + 1 );

                        }

                    }

                    if ( slider.options.range ) {

                        if ( labelValue > values[0] &&
                            labelValue < values[1] ) {

                            classes += " ui-slider-pip-inrange";

                        }

                    }

                } else {

                    if ( labelValue === value ) {

                        classes += " ui-slider-pip-initial";
                        classes += " ui-slider-pip-selected";

                    }

                    if ( slider.options.range ) {

                        if (( slider.options.range === "min" && labelValue < value ) ||
                            ( slider.options.range === "max" && labelValue > value )) {

                            classes += " ui-slider-pip-inrange";

                        }

                    }

                }



                css = ( slider.options.orientation === "horizontal" ) ?
                    "left: " + percent :
                    "bottom: " + percent;


                // add this current pip to the collection
                return "<span class=\"" + classes + "\" style=\"" + css + "\">" +
                            "<span class=\"ui-slider-line\"></span>" +
                            "<span class=\"ui-slider-label\" data-value=\"" +
                                labelValue + "\">" + options.formatLabel(label) + "</span>" +
                        "</span>";

            }

            // create our first pip
            collection += createPip("first");

            // for every stop in the slider where we need a pip; create one.
            for ( p = slider.options.pipStep; p < pips; p += slider.options.pipStep ) {
                collection += createPip( p );
            }

            // create our last pip
            collection += createPip("last");

            // append the collection of pips.
            slider.element.append( collection );

            // store the pips for setting classes later.
            $pips = slider.element.find(".ui-slider-pip");



            // store the mousedown handlers for later, just in case we reset
            // the slider, the handler would be lost!

            if ( $._data( slider.element.get(0), "events").mousedown &&
                $._data( slider.element.get(0), "events").mousedown.length ) {

                mousedownHandlers = $._data( slider.element.get(0), "events").mousedown;

            } else {

                mousedownHandlers = slider.element.data("mousedown-handlers");

            }

            slider.element.data("mousedown-handlers", mousedownHandlers.slice() );

            // loop through all the mousedown handlers on the slider,
            // and store the original namespaced (.slider) event handler so
            // we can trigger it later.
            for ( j = 0; j < mousedownHandlers.length; j++ ) {
                if ( mousedownHandlers[j].namespace === "slider" ) {
                    slider.element.data("mousedown-original", mousedownHandlers[j].handler );
                }
            }

            // unbind the mousedown.slider event, because it interferes with
            // the labelClick() method (stops smooth animation), and decide
            // if we want to trigger the original event based on which element
            // was clicked.
            slider.element
                .off("mousedown.slider")
                .on("mousedown.selectPip", function(e) {

                    var $target = $(e.target),
                        closest = getClosestHandle( $target.data("value") ),
                        $handle = $handles.eq( closest );

                    $handle.addClass("ui-state-active");

                    if ( $target.is(".ui-slider-label") ) {

                        labelClick( $target, e );

                        slider.element
                            .one("mouseup.selectPip", function() {

                                $handle
                                    .removeClass("ui-state-active")
                                    .focus();

                            });

                    } else {

                        var originalMousedown = slider.element.data("mousedown-original");
                        originalMousedown(e);

                    }

                });




            slider.element.on( "slide.selectPip slidechange.selectPip", function(e, ui) {

                var $slider = $(this),
                    value = $slider.slider("value"),
                    values = $slider.slider("values");

                if ( ui ) {

                    value = ui.value;
                    values = ui.values;

                }

                if ( slider.values() && slider.values().length ) {

                    selectPip.range( values );

                } else {

                    selectPip.single( value );

                }

            });




        },








        // floats

        float: function( settings ) {

            var i,
                slider = this,
                min = slider._valueMin(),
                max = slider._valueMax(),
                value = slider._value(),
                values = slider._values(),
                tipValues = [],
                $handles = slider.element.find(".ui-slider-handle");

            var options = {

                handle: true,
                /* false */

                pips: false,
                /* true */

                labels: false,
                /* [array], { first: "string", rest: [array], last: "string" }, false */

                prefix: "",
                /* "", string */

                suffix: "",
                /* "", string */

                event: "slidechange slide",
                /* "slidechange", "slide", "slidechange slide" */

                formatLabel: function(value) {
                    return this.prefix + value + this.suffix;
                }
                /* function
                    must return a value to display in the floats */

            };

            if ( $.type( settings ) === "object" || $.type( settings ) === "undefined" ) {

                $.extend( options, settings );
                slider.element.data("float-options", options );

            } else {

                if ( settings === "destroy" ) {

                    destroy();

                } else if ( settings === "refresh" ) {

                    slider.element.slider( "float", slider.element.data("float-options") );

                }

                return;

            }




            if ( value < min ) {
                value = min;
            }

            if ( value > max ) {
                value = max;
            }

            if ( values && values.length ) {

                for ( i = 0; i < values.length; i++ ) {

                    if ( values[i] < min ) {
                        values[i] = min;
                    }

                    if ( values[i] > max ) {
                        values[i] = max;
                    }

                }

            }

            // add a class for the CSS
            slider.element
                .addClass("ui-slider-float")
                .find(".ui-slider-tip, .ui-slider-tip-label")
                .remove();



            function destroy() {

                slider.element
                    .off(".sliderFloat")
                    .removeClass("ui-slider-float")
                    .find(".ui-slider-tip, .ui-slider-tip-label")
                    .remove();

            }


            function getPipLabels( values ) {

                // when checking the array we need to divide
                // by the step option, so we store those values here.

                var vals = [],
                    steppedVals = $.map( values, function(v) {
                        return Math.ceil(( v - min ) / slider.options.step);
                    });

                // now we just get the values we need to return
                // by looping through the values array and assigning the
                // label if it exists.

                if ( $.type( options.labels ) === "array" ) {

                    for ( i = 0; i < values.length; i++ ) {

                        vals[i] = options.labels[ steppedVals[i] ] || values[i];

                    }

                } else if ( $.type( options.labels ) === "object" ) {

                    for ( i = 0; i < values.length; i++ ) {

                        if ( values[i] === min ) {

                            vals[i] = options.labels.first || min;

                        } else if ( values[i] === max ) {

                            vals[i] = options.labels.last || max;

                        } else if ( $.type( options.labels.rest ) === "array" ) {

                            vals[i] = options.labels.rest[ steppedVals[i] - 1 ] || values[i];

                        } else {

                            vals[i] = values[i];

                        }

                    }

                } else {

                    for ( i = 0; i < values.length; i++ ) {

                        vals[i] = values[i];

                    }

                }

                return vals;

            }

            // apply handle tip if settings allows.
            if ( options.handle ) {

                // we need to set the human-readable label to either the
                // corresponding element in the array, or the appropriate
                // item in the object... or an empty string.

                tipValues = ( slider.values() && slider.values().length ) ?
                    getPipLabels( values ) :
                    getPipLabels( [ value ] );

                for ( i = 0; i < tipValues.length; i++ ) {

                    $handles
                        .eq( i )
                        .append( $("<span class=\"ui-slider-tip\">"+ options.formatLabel(tipValues[i]) +"</span>") );

                }

            }

            if ( options.pips ) {

                // if this slider also has pip-labels, we make those into tips, too.
                slider.element.find(".ui-slider-label").each(function(k, v) {

                    var $this = $(v),
                        val = [ $this.data("value") ],
                        label,
                        $tip;


                    label = options.formatLabel( getPipLabels( val )[0] );

                    // create a tip element
                    $tip =
                        $("<span class=\"ui-slider-tip-label\">" + label + "</span>")
                            .insertAfter( $this );

                });

            }

            // check that the event option is actually valid against our
            // own list of the slider's events.
            if ( options.event !== "slide" &&
                options.event !== "slidechange" &&
                options.event !== "slide slidechange" &&
                options.event !== "slidechange slide" ) {

                options.event = "slidechange slide";

            }

            // when slider changes, update handle tip label.
            slider.element
                .off(".sliderFloat")
                .on( options.event + ".sliderFloat", function( e, ui ) {

                    var uiValue = ( $.type( ui.value ) === "array" ) ? ui.value : [ ui.value ],
                        val = options.formatLabel( getPipLabels( uiValue )[0] );

                    $(ui.handle)
                        .find(".ui-slider-tip")
                        .html( val );

                });

        }

    };

    $.extend(true, $.ui.slider.prototype, extensionMethods);

})(jQuery);
</script>

<script>
    $(document).ready(function()
    {
        $("#myTable").tablesorter();

        $("#myTable_own").tablesorter();

        var code = {};
$("select[name='bnd'] > option").each(function () {
    if(code[this.text]) {
        $(this).remove();
    } else {
        code[this.text] = this.value;
    }
});
    }
);
</script>
<script>
    $( function() {

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: {{items_cat_max.price}},
      values: [{{items_cat_min.price}}, {{items_cat_max.price}}],

      slide: function( event, ui ) {
        if(ui.values[ 0 ] +19 >= ui.values[ 1 ]){
          return false;
        }
        $( "#amount" ).val( "Rs." + ui.values[ 0 ] + " - Rs." + ui.values[ 1 ] );
        $("#min").val( ui.values[ 0 ]);
      $("#max").val( ui.values[ 1 ]);
      }
    });
    $( "#amount" ).val( "Rs." + $( "#slider-range" ).slider( "values", 0 ) +
      " - Rs." + $( "#slider-range" ).slider( "values", 1 ) );


  } );

</script>

<script>
    $(document).ready(function(){
     $(".slider").slider().slider("pips").slider("float");
     $("#link").click(function() {
        var href = $('#link').attr('href');
        var min = $('#min').val();
        var max = $('#max').val();
        //alert(min);
        //alert(max);
        //alert(href);
        //alert("i am ihere");//Do stuff when clicked
        final_link = href + min+"/"+max
        //alert(final_link);
        $("#link").attr('href', final_link)
    });
});
</script>
<!-- style-->

<!-- code-->

<div align=right>
    Hi, {{request.user}} &nbsp || &nbsp <a href="#"> <a class="faa-parent animated-hover" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
</div>
<div style=" background-color: E4FFBF;" class="row">
    <div style=" background-color: E4FFBF;" class="col-md-6 col-sm-6 col-xs-12 gutter">

        <div style=" background-color: E4FFBF;" class="sales">
            <div style=" background-color: #5BFF92;" class="row">
                <h4><b><center>Global items</center></b></h4></div>
            <table align="center" width="85%">
                <tr>
                    <th colspan=3> <font size=2> <b>Total Items</b> :{%if useritemscount_cat%} {{useritemscount_cat}}{%else%}{{global_items_count}}{%endif%}</font></th>

                    <th colspan=3><font size=2><b>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbspTotal Value</b> : Rs: {%if totcount_cat%} {{totcount_cat}}{%else%}{{global_items_price}}{%endif%}</font></th>

                </tr>
            </table>

            {% if not items_cat %}
            <ul class="nav nav-pills">
                {% for category in allcat %}
                <li style="padding: 1px;" class="catli">
                    <div class="well">
                        <a href="{% url 'myuserdashboard_withargument' category.id %}"><img class="img img-thumbnails" width="80" height="80" src="{{ category.image.url }}" title="{{ category.category_name }}"></a>

                    </div>
                </li>
                {% endfor %} {% endif %}

            </ul>{% if items_cat %}

            <center>
                <table border=1 id="myTable" class="tablesorter" width="85%">
                    <thead>
                        <tr height=4 0px; font-weight: bold;>
                            <!-- <th style=height=50px; bgcolor="#5BFF92" > <span style=" font-size: 10pt">R</span></th> -->
                            <th bgcolor="#5BFF92"> <span style=" font-size: 10pt">Item_Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;  ">Description</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;">Categories</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;">Brand</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;"><i class="fa fa-picture-o"></i></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;">Item_Worth<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;">Exchange_With</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;">Location<i class="fa fa-map-marker"></i></span></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for useritems in items_cat %}
                        <tr>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><a onclick="popupCenter('{% url 'view_item' useritems.id %}', 'myPop2',750,750);" href="javascript:void(0);">{{ useritems.id }}</a></span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.item_name }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.category }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.bnd.brand_name }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><img src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.price }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.exchange_category }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.location }}</span></td>

                        </tr>
                        {% endfor %}</tbody>
                </table>
                {% if items_cat.has_other_pages %}
                <ul class="pagination">
                    {% if items_cat.has_previous %}
                    <li><a href="?pagee={{ items_cat.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in items_cat.paginator.page_range %} {% if items_cat.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?pagee={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if items_cat.has_next %}
                    <li><a href="?pagee={{ items_cat.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %} {% for useritems in items_cat %} {% if forloop.first %}

                <h5>Selected catagory:

                                   <select name="cat" onchange="window.location.href=this.value;">

                                       {% for category in allcat %}
                                       {% if useritems.category == category %}
                                       <option selected value="{{category.id}}">{{category}}</option>
                                       {%else%}
                                       <option value="{% url 'myuserdashboard_withargument' category.id %}">{{category}}</option>
                                        {%endif%}
                                       {% endfor %}
                                   </select> Sub category :

                                    <select  class='on' name="bnd" onchange="window.location.href=this.value;">

                                    {% for category in allcat %}

                                           {% if useritems.category == category %}

                                                {% if select_value == 0 %}
                                                        <option selected >-- select any --</option>
                                                        {% for k,v in brand_dict.items%}
                                                        <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                        {%endfor%}
                                                         {% for k,v in brand_dict_all.items%}

                                                       <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                       {%endfor%}
                                                {% else %}
                                                      {% for k,v in brand_dict.items%}

                                                           {% if select_value == k %}

                                                           <option selected value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                           {%else%}
                                                           <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                           {%endif%}

                                                      {%endfor%}
                                                       {% for k,v in brand_dict_all.items%}

                                                       <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                   {%endfor%}
                                                {% endif %}

                                                <option value="{% url 'myuserdashboard_withargument' category.id %}">-- All --</option>

                                        {% endif %}

                                    {% endfor %}
                                   </select>



                <p id="price_list">

<label for="amount"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Price range - &nbsp </label>
                    Minimum :<input type=text id=min size="7" value=0> &nbsp &nbsp &nbsp
                    Maximum :<input type=text id=max size="8" value={{items_cat_max.price}}>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <br> {% for category in allcat %} {% if useritems.category == category %} {% for k,v in brand_dict.items%}
                    <a id="link" href="{% url 'myuserdashboard_with_cat_bnd' category.id k %}" title "show the range for {{v}}">
                        <button style="background-color: #4CAF50; border:2; color:#f6931f; font-weight:bold;"><b>{{v}}</b></button>
                    </a>
                    {% endfor %} {% endif %} {% endfor %}

                </p> </h5>
                <input type="hidden" id="amount" readonly  style="border:0; color:#f6931f; font-weight:bold;">
                <div id="slider-range" class="slider"></div>
                <!-- END SLIDE -->

                {%endif%} {% endfor %} {% endif %}

            </center>
        </div>
    </div>
    <div style=" background-color: E4FFBF;" class="col-md-6 col-sm-6 col-xs-12 gutter">

        <div style=" background-color: E4FFBF;" class="sales report">
            <div style=" background-color: #5BFF92;" class="row">
                <h4><b><center>{{request.user}}  - Your items</center></b></h4></div>
            <center>
                <table width="85%">
                    <tr>
                        <th colspan=3> <font size=2><b>Total Items</b> : {{ useritemscount }}</font>
                        </th>
                        <th colspan=3>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                            <font size=2><b>Total Value</b> : Rs: {{ totcount }}</font>

                        </th>
                    </tr>
                </table>
                <!-- <font size="1" face="Courier New" > -->
                <table width="85%" border=1 id="myTable_own" class="tablesorter">
                    <thead>
                        <tr height=4 0px; font-weight: bold;>

                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Item_Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt;  font-weight: bold;">Description</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Categories</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Brand</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; "><i class="fa fa-picture-o"></i></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Item_Worth<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Exchange_With</span></th>
                            <th bgcolor="#5BFF92"><span style=" font-size: 10pt; ">Location <i class="fa fa-map-marker"></i></span></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for useritems in items %}

                        <tr>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><a onclick="popupCenter('{% url 'view_item' useritems.id %}', 'myPop2',750,750);" href="javascript:void(0);">{{ useritems.id }}</a></span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.item_name }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.category }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.bnd.brand_name }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><img src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.price }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.exchange_category }}</span></td>
                            <td bgcolor="#CCFFA4"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.location }}</span></td>
                        </tr>

                        {% endfor %}</tbody>
                </table>

                {% if items.has_other_pages %}
                <ul class="pagination">
                    {% if items.has_previous %}
                    <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if items.has_next %}
                    <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </center>

            <script>
                function popupCenter(url, title, w, h) {
                    var left = (screen.width / 2) - (w / 2);
                    var top = (screen.height / 2) - (h / 2);
                    return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                }
            </script>
            <div align="center">
                <a href="{% url 'additems' %}" title="add iteams"><i class="fa fa-plus-circle"></i> Add Items</a>
                <br>

            </div>
        </div>
    </div>
</div>
</div>
</div>

<!--   </div> -->

<div style=" text-align: left; text-indent: 0px; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;">
    <table width="100%" border="2" cellpadding="2" cellspacing="2" style="border-color: #8080FF">
        <tr valign="top">
            <td style="border-width : 0px;">
                <h6><b>This page facilitates the user to add their items which he/she want to exchange with other interested items in our portal which consists of other users products/items.</div></b></h6>
               <h5> <ol>
                    <li>  Click on the Add Items button and provide your complete item details and click on the save button.
                    </li>
                    <li>  Once it is uploaded this will be visible to the global users and facilitates to exchange the Items by having the one to one conversations with the item owners.</li>
                    <li>  Click on the category with which you want to exchange your Item.
                    </li>
                    <li>  Select your item/product from our global list of items, this portal facilitate to help you in selecting your exchangeable item by providing the relevant information.
                    </li>
                    <li>  Contact the product/item owner, the details will be provided in the item description window, reach him/her by phone and negotiate.
                    </li>
                </ol>  </h5>
            </td>
        </tr>
    </table>
</div>

{% endblock %}
