{% extends 'base1.html' %}
{% block content %}


<div class="container-fluid column-starter">
    <!------------ Panel Class ------------->
    <div class="margin-t-20"></div>
    <div class="row">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">

                    <script>
                        $(document).ready(function() {
                            $("#myTable").tablesorter();

                            $("#myTable_own").tablesorter();

                            var code = {};
                            $("select[name='bnd'] > option").each(function() {
                                if (code[this.text]) {
                                    $(this).remove();
                                } else {
                                    code[this.text] = this.value;
                                }
                            });
                        });
                    </script>

                    <script>
                        $(document).ready(function() {

                            $("#link").click(function() {
                                var href = $('#link').attr('href');
                                var min = $('#min').val();
                                var max = $('#max').val();
                                //alert(min);
                                //alert(max);
                                //alert(href);
                                //alert("i am ihere");//Do stuff when clicked
                                final_link = href + min + "/" + max
                                    //alert(final_link);
                                $("#link").attr('href', final_link)
                            });
                        });
                    </script>
                    <!-- style-->

                    <!-- code-->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    <div style=" background-color: #fff;" class="row">
                        <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">

                            <div style=" background-color: #ffff; min-height:641px;" class="sales">
                                <div style=" background-color: #1b3154;" class="row">

                                    <h4><b><center><font color="white">Global items</font></center></b></h4></div>
                                <table align="center" width="85%">
                                    <tr>
                                        <th colspan=3> <font size=2> <b>Total Items</b> :{% if global_items_count %}{{global_items_count}}{%else%}{{useritemscount_cat}}{%endif%}</font></th>

                                        <th colspan=3><font size=2><b> &nbsp &nbsp &nbsp &nbsp &nbspTotal Value</b> : Rs: {%if totcount_cat%} {{totcount_cat}}{%else%}{{global_items_price}}{%endif%}</font></th>

                                    </tr>
                                </table>

                                {% if not items_cat %}
                                <ul class="nav nav-pills">
                                    {% for category in allcat %}
                                    <li style="padding: 1px;" class="catli">
                                        <div class="well">

                                            <a href="{% url 'myuserdashboard_withargument' category.id %}"><img class="img img-thumbnails" width="80" height="80" src="{{ category.image.url }}" title="{{ category.category_name }}"></a>
                                            <br> <b> ( </b> {% for it in itemc %} {% if it.category == category.id %} {{ it.cate }} {% else %} {% endif %}{% endfor %} <b> &nbsp Items) </b>
                                            <br><a href="{% url 'myuserdashboard_with_cat_freelist' category.id %}">Free items : {% for key, values in free_items %}{% if category.category_name == key %}{{values}}{% endif %}{% endfor%}</a>
                                        </div>
                                    </li>
                                    {% endfor %} {% endif %}

                                </ul>{% if items_cat %}
                                <br>
                                <center>
                                    <table border=1 id="myTable" class="tablesorter" width="85%">
                                        <thead>
                                            <tr height=4 0px; font-weight: bold;>
                                                <!-- <th style=height=50px; bgcolor="#f7a01d" > <span style=" font-size: 10pt">R</span></th> -->
                                                <th bgcolor="#f7a01d"> <span style=" font-size: 10pt">Item<br>Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;  ">Description</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;">Categories</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;">Brand</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;"><i class="fa fa-picture-o"></i></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;">Item<br>Worth<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;">Exchange<br>With</span></th>
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt;">Location<i class="fa fa-map-marker"></i></span></th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for useritems in items_cat %}
                                            <tr>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><a href="{% url 'view_item_global' useritems.id %}">{{ useritems.id }}</a></span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.item_name }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.category }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.bnd.brand_name }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><img title="click me to view" id="{{ useritems.id }}"  src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.price }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.exchange_category }}</span></td>
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.location }}</span></td>

                                            </tr>
                                            {% endfor %}</tbody>
                                    </table>
                                    {% if items_cat.has_other_pages %}
                                    <h6>
                <ul class="pagination">
                    {% if items_cat.has_previous %}
                    <li><a href="?pagee={{ items_cat.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in items_cat.paginator.page_range %} {% if items_cat.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?pagee={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if items_cat.has_next %}
                    <li><a href="?pagee={{ items_cat.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul></h6> {% endif %} {% for useritems in items_cat %} {% if forloop.first %}

                                    <h5>Selected catagory:

                                   <select name="cat" onchange="window.location.href=this.value;">

                                       {% for category in allcat %}
                                       {% if useritems.category == category %}
                                       <option selected value="{{category.id}}">{{category}}</option>
                                       {%else%}
                                       <option value="{% url 'myuserdashboard_withargument' category.id %}">{{category}}</option>
                                        {%endif%}
                                       {% endfor %}
                                   </select> Sub category :

                                    <select  class='on' name="bnd" onchange="window.location.href=this.value;">

                                    {% for category in allcat %}

                                           {% if useritems.category == category %}

                                                {% if select_value == 0 %}
                                                        <option selected >-- select any --</option>
                                                        {% for k,v in brand_dict.items%}
                                                        <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                        {%endfor%}
                                                         {% for k,v in brand_dict_all.items%}

                                                       <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                       {%endfor%}
                                                {% else %}
                                                      {% for k,v in brand_dict.items%}

                                                           {% if select_value == k %}

                                                           <option selected value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                           {%else%}
                                                           <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                           {%endif%}

                                                      {%endfor%}
                                                       {% for k,v in brand_dict_all.items%}

                                                       <option value="{% url 'myuserdashboard_with_cat_bnd' category.id k %}">{{v}}</option>
                                                   {%endfor%}
                                                {% endif %}

                                                <option value="{% url 'myuserdashboard_withargument' category.id %}">-- All --</option>

                                        {% endif %}

                                    {% endfor %}
                                   </select>

                <p id="price_list">

<label for="amount"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Price range - &nbsp </label>
                    Minimum :<input type=text id=min size="7" value=0> &nbsp &nbsp &nbsp
                    Maximum :<input type=text id=max size="8" value={{items_cat_max.price}}>  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <br> {% for category in allcat %} {% if useritems.category == category %} {% for k,v in brand_dict.items%}
                    <a id="link" href="{% url 'myuserdashboard_with_cat_bnd' category.id k %}" title "show the range for {{v}}">
                        <button style="background-color: #4CAF50; border:2; color:#f6931f; font-weight:bold;"><b>{{v}}</b></button>

                    </a>
                    {% endfor %}<br><b> * You can filter the outputs by changing the options as per your requirements </b>
                {% endif %}
            {% endfor %}

                </p> </h5>

                                    <input type="hidden" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                    <div id="slider-range" class="slider"></div>

                                    <!-- END SLIDE -->

                                    {%endif%} {% endfor %} {% endif %}

                                </center>
                                <br>
                                <hr>
                            </div>
                        </div>

                        <div style=" background-color: #fff;" class="row">

                            <div style=" background-color: #1b3154;" class="col-md-6 col-sm-6 col-xs-12 gutter">
                                <div style=" background-color: #fff; min-height:641px;" class="sales report">
                                    <div style=" background-color: #1b3154;" class="row">

                                        <h4><font color="white"><b><center>{{request.user}}  - Your items</center></b></font></h4></div>
                                    <center>
                                        <table width="85%">
                                            <tr>
                                                <th colspan=3> <font size=2><b>Total Items</b> : {{ useritemscount }}</font>
                                                </th>
                                                <th colspan=3>
                                                    <font size=2><b>Total Value</b> : Rs: {{ totcount }}</font>

                                                </th>
                                            </tr>
                                        </table>

                                        <table width="99%" border=1 id="myTable_own" class="tablesorter">
                                            <thead>
                                                <tr height=4 0px; font-weight: bold;>

                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Item<br>Code<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt;  font-weight: bold;">Description</span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Categories</span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Brand</span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; "><i class="fa fa-picture-o"></i></span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Item<br>Worth<font color=red><i class="fa fa-fw fa-sort"></i></font></span></th>
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Exchange<br>With</span></th>
                                                    <!--
                                                <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">Location <i class="fa fa-map-marker"></i></span></th>
                                                -->
                                                    <th bgcolor="#f7a01d"><span style=" font-size: 10pt; ">#</span></th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for useritems in items %}

                                                <tr>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><a href = "{% url 'view_item' useritems.id %}">{{ useritems.id }}</a></span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.item_name }}
                                                   <!-- <a href="{% url 'edit_item' useritems.id %}">{{ useritems.item_name }}</a> --></span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.category }}</span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.bnd.brand_name }}</span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><img title="click me to view" id="{{ useritems.id }}" src="{{ useritems.item_image.url }}" alt="*" class="img img-thumbnails" width="20" height="30"></span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"><i class="fa fa-rupee"></i>{{ useritems.price }}</span></td>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.exchange_category }}</span></td>
                                                    <!--
                                                <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;">{{ useritems.location }}</span></td>
                                                -->
                                                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                                    <td bgcolor="#FFF2A2"><span style=" font-size: 10pt; font-weight: bold;"> <a title="click to delete" href = "{% url 'delete_item' useritems.id %}"> <span class="glyphicon glyphicon-trash"></span></a>
                                                        </span>
                                                    </td>
                                                </tr>

                                                {% endfor %}</tbody>

                                        </table>

                                        {% if items.has_other_pages %}
                                        <ul class="pagination">
                                            {% if items.has_previous %}
                                            <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                            <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                            </li>
                                            {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %} {% endfor %} {% if items.has_next %}
                                            <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                            <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                        {% endif %}
                                    </center>

                                    <script>
                                        function popupCenter(url, title, w, h) {
                                            var left = (screen.width / 2) - (w / 2);
                                            var top = (screen.height / 2) - (h / 2);
                                            return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
                                        }
                                    </script>
                                    <div align="center">
                                        <h4> <a href="{% url 'additems' %}" title="add iteams"><i class="fa fa-plus-circle"><b> Add Items </b></i></a></h4>

                                        <b> Click above "Add Items" link to add your Items / Products into our global database. <br> Click on the Item code/number to edit/update or view the complete item details. </b>
                                    </div>
                                    <br>

                                </div>

                                . </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--   </div> -->

    </div>

</div>

</div>

</div>
</div>
<!-- global view -->
{% if items_cat %} {% for useritems in items_cat %}
<style>
#{{ useritems.id }
}
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#{{ useritems.id }
}
:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    max-height: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 125px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
</style>

{% endfor %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close"><font color="white">X</font></span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>

</div>

{% for useritems in items_cat %}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('{{ useritems.id }}');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

{% endfor %} {% endif %}

<!-- end code -->
<!-- code -->

{% for useritems in items %}
<style>
#{{ useritems.id }
}
{
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#{{ useritems.id }
}
:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 180%;
    max-width: 700px;
    max-height:700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 125px;
    right: 35px;

    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {

    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
</style>

{% endfor %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close"><font color="white">X</font></span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>

</div>

{% for useritems in items %}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('{{ useritems.id }}');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function() {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }
</script>

{% endfor %}

<!-- end code -->
{% endblock %}